.challengeform {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  height: 38px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #1a1523;
  margin-right: 1rem;
}

[data-theme="dark"] .challengeform {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  height: 38px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #f5f5f5;
  margin-right: 1rem;
}

/* .displayData {
  display: flex;
} */

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  gap: 8px;
  background: #1a1523;
  border-radius: 8px;
  border: 0;
  height: 38px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #f5f5f5;
  cursor: pointer;
  align-self: baseline;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 16px 12px;
  gap: 8px;
  border-radius: 8px;
  border: 0;
  height: 38px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1a1523;
  cursor: pointer;
  align-self: baseline;
}


[data-theme="dark"] .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  gap: 8px;
  background: #767676;
  border-radius: 8px;
  border: 0;
  height: 38px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #f5f5f5;
  cursor: pointer;
  align-self: baseline;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  align-items: center;
  padding: 16px 12px;
  gap: 8px;
  background: #f5f5f5;
  border-radius: 8px;
  border: 0;
  height: 38px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
}
/* .higher {
  height: 58px;
} */
