openapi: 3.0.3
info:
  title: Horizon 
  version: 0.0.1

servers:
  - url: https://horizon.stellar.org/
    description: The main network
  - url: https://horizon-testnet.stellar.org/ 
    description: The test network    
tags:
  - name: account
    description: Users interact with the Stellar network through accounts. Everything else in the ledger—assets, offers, trustlines, etc. are owned by accounts, and accounts must authorize all changes to the ledger through signed transactions.
  - name: assets
    description: Assets are representations of value issued on the Stellar network. An asset consists of a type, code, and issuer.     

paths:
   /accounts:
    $ref: '../openapi/components/endpoints/account.yml#/paths/~1accounts'
   /accounts/{account_id}:
    $ref: '../openapi/components/endpoints/account.yml#/paths/~1accounts~1{account_id}'
   /accounts/{account_id}/transactions:
    $ref : '../openapi/components/endpoints/account.yml#/paths/~1accounts~1{account_id}~1transactions'
   /accounts/{account_id}/operations:
    $ref : '../openapi/components/endpoints/account.yml#/paths/~1accounts~1{account_id}~1operations'
   /accounts/{account_id}/payments:
    $ref : '../openapi/components/endpoints/account.yml#/paths/~1accounts~1{account_id}~1payments'
   /accounts/{account_id}/effects:
    $ref : '../openapi/components/endpoints/account.yml#/paths/~1accounts~1{account_id}~1effects'
   /accounts/{account_id}/offers:
    $ref : '../openapi/components/endpoints/account.yml#/paths/~1accounts~1{account_id}~1offers'
   /accounts/{account_id}/trades:
    $ref : '../openapi/components/endpoints/account.yml#/paths/~1accounts~1{account_id}~1trades'
   /accounts/{account_id}/data/{key}:
    $ref : '../openapi/components/endpoints/account.yml#/paths/~1accounts~1{account_id}~1data~1{key}'


            
