.image-style {
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    width: 40%
  }

  .image-style_reg {
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
    transition: transform 0.3s; /* Smooth transition for hover effect */
  }

  .image-style_lp {
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    width: 85%
  }
  
  .image-style:hover {
    transform: translateY(-5px); /* Rise effect on hover */
  }

  .image-style_reg:hover {
    transform: translateY(-5px); /* Rise effect on hover */
  }

  .image-style_lp:hover {
    transform: translateY(-5px); /* Rise effect on hover */
  }