openapi: 3.1.0
info:
  title: Horizon
  version: 0.0.1
  summary: Horizon provides an HTTP API to data in the Stellar network. It ingests and re-serves the data produced by the Stellar network in a form that is easier to consume by the average application relative to the performance-oriented data representations used by Stellar Core. This API serves the bridge between apps and Stellar Core. Projects like wallets, decentralized exchanges, and asset issuers use Horizon to submit transactions, query an account balance, or stream events like transactions to an account.
  description: |
    Horizon provides an HTTP API to data in the Stellar network. It ingests and re-serves the data produced by the Stellar network in a form that is easier to consume by the average application relative to the performance-oriented data representations used by [Stellar Core](https://developers.stellar.org/network/core-node). This API serves the bridge between apps and Stellar Core. Projects like wallets, decentralized exchanges, and asset issuers use Horizon to submit transactions, query an account balance, or stream events like transactions to an account.

    Horizon can be accessed via cURL, a browser, or one of the [Stellar SDKs](https://developers.stellar.org/docs/tools/sdks). To reduce the complexity of your project, we recommend you use an SDK instead of making direct API calls.

    This guide describes how to administer a production Horizon instance (refer to the [Developers' Blog](https://www.stellar.org/developers-blog/a-new-sun-on-the-horizon) for some background on the performance and architectural improvements of this major version bump). For information about developing on the Horizon codebase, check out the [Development Guide](https://github.com/stellar/stellar-horizon/blob/main/DEVELOPING.md).

    Before we begin, it's worth reiterating the sentiment echoed in the [Core Node](https://developers.stellar.org/network/core-node) documentation: **we do not endorse running Horizon backed by a standalone Stellar Core instance**, and especially not by a _validating_ Stellar Core. These are two separate concerns, and decoupling them is important for both reliability and performance. Horizon instead manages its own, pared-down version of Stellar Core optimized for its own subset of needs (we'll refer to this as a "Captive Core" instance).
  termsOfService: https://stellar.org/terms-of-service
  contact:
    name: Stellar Development Foundation
    url: https://stellar.org
    email: hello@stellar.org
  license:
    name: Apache 2.0
    identifier: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://horizon-testnet.stellar.org
    description: The Testnet Network
  - url: https://horizon-futurenet.stellar.org
    description: The Futurenet network
tags:
  - name: Accounts
    description: Users interact with the Stellar network through accounts. Everything else in the ledger—assets, offers, trustlines, etc. are owned by accounts, and accounts must authorize all changes to the ledger through signed transactions.
  - name: Assets
    description: Assets are representations of value issued on the Stellar network. An asset consists of a type, code, and issuer.
  - name: Claimable Balances
    description: A Claimable Balance represents the transfer of ownership of some amount of an asset. Claimable balances provide a mechanism for setting up a payment which can be claimed in the future. This allows you to make payments to accounts which are currently not able to accept them.
  - name: Effects
    description: Effects represent specific changes that occur in the ledger as a result of successful operations, but are not necessarily directly reflected in the ledger or history, as transactions and operations are.
  - name: Fee Stats
    description: Fee stats are used to predict what fee to set for a transaction before submitting it to the network.
  - name: Liquidity Pools
    description: Liquidity Pools provide a simple, non-interactive way to trade large amounts of capital and enable high volumes of trading.
  - name: Ledgers
    description: Each ledger stores the state of the network at a point in time and contains all the changes - transactions, operations, effects, etc. - to that state.
  - name: Offers
    description: Offers are statements about how much of an asset an account wants to buy or sell.
  - name: Operations
    description: 'Operations are objects that represent a desired change to the ledger: payments, offers to exchange currency, changes made to account options, etc. Operations are submitted to the Stellar network grouped in a Transaction.'
  - name: Order Books
    description: An order book is a collections of offers for a specific pair of assets.
  - name: Paths
    description: Paths provide information about potential path payments. A path can be used to populate the necessary fields for a path payment operation.
  - name: Payments
    description: Payments are objects that represent balance transfer from one address to another. Payments are submitted to the Stellar network grouped in a Transaction.
  - name: Trade Aggregations
    description: A trade aggregation represents aggregated statistics on an asset pair (base and counter) for a specific time period. Trade aggregations are useful to developers of trading clients and provide historical trade data.
  - name: Trades
    description: When an offer is fully or partially fulfilled, a trade happens. Trades can also be caused by successful path payments, because path payments involve fulfilling offers. A trade occurs between two parties—base and counter. Which is which is either arbitrary or determined by the calling query.
  - name: Transactions
    description: Transactions are commands that modify the ledger state and consist of one or more operations.
paths:
  /accounts:
    get:
      tags:
        - Accounts
      summary: List all Accounts
      description: 'This endpoint lists accounts by one of four filters : signer, asset, liquidity pool  or sponsor.'
      operationId: ListAllAccounts
      parameters:
        - $ref: '#/components/parameters/SponsorParam'
        - $ref: '#/components/parameters/AssetParam'
        - $ref: '#/components/parameters/SignerParam'
        - $ref: '#/components/parameters/LiquidityPoolParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: 'Returns accounts based on provided filter: signer , asset, sponser or liquidity pool'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Account'
              examples:
                ListAllAccounts:
                  $ref: '#/components/examples/ListAllAccounts'
  /accounts/{account_id}:
    get:
      tags:
        - Accounts
      summary: Retrieve an Account
      description: The single account endpoint provides information on a specific account. The balances section in the response will also list all the trustlines this account has established, including trustlines that haven’t been authorized yet.
      operationId: RetrieveAnAccount
      parameters:
        - $ref: '#/components/parameters/AccountIDParam'
      responses:
        '200':
          description: Returns details like balances, sponserships etc. about an account.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Account'
              examples:
                RetrieveAnAccount:
                  $ref: '#/components/examples/RetrieveAnAccount'
  /accounts/{account_id}/transactions:
    get:
      tags:
        - Accounts
      summary: Retrieve an Account's Transactions
      description: This endpoint represents successful transactions for a given account and can be used in streaming mode. Streaming mode allows you to listen for new transactions for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known transaction unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream transactions created since your request time.
      operationId: GetTransactionsByAccountId
      parameters:
        - $ref: '#/components/parameters/AccountIDParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Transaction'
              examples:
                RetrieveAnAccountsTransactions:
                  $ref: '#/components/examples/RetrieveAnAccountsTransactions'
  /accounts/{account_id}/operations:
    get:
      tags:
        - Accounts
      summary: Retrieve an Account's Operations
      description: This endpoint represents successful operations for a given account and can be used in streaming mode. Streaming mode allows you to listen for new operations for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known operation unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream operations created since your request time.
      operationId: GetOperationsByAccountId
      parameters:
        - $ref: '#/components/parameters/AccountIDParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - oneOf:
                      - $ref: '#/components/schemas/CreateAccount'
                      - $ref: '#/components/schemas/Payment'
                      - $ref: '#/components/schemas/PathPaymentStrictReceive'
                      - $ref: '#/components/schemas/PathPaymentStrictSend'
                      - $ref: '#/components/schemas/AccountMerge'
              examples:
                RetrieveAnAccountsOperations:
                  $ref: '#/components/examples/RetrieveAnAccountsOperations'
  /accounts/{account_id}/payments:
    get:
      tags:
        - Accounts
      summary: Retrieve an Account's Payments
      description: This endpoint represents successful payments for a given account and can be used in streaming mode. Streaming mode allows you to listen for new payments for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known payment unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream payments created since your request time.
      operationId: GetPaymentsByAccountId
      parameters:
        - $ref: '#/components/parameters/AccountIDParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Payment'
              examples:
                RetrieveAnAccountsPayments:
                  $ref: '#/components/examples/RetrieveAnAccountsPayments'
  /accounts/{account_id}/effects:
    get:
      tags:
        - Accounts
      summary: Retrieve an Account's Effects
      description: This endpoint returns the effects of a specific account and can be used in streaming mode. Streaming mode allows you to listen for new effects for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known effect unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream effects created since your request time.
      operationId: GetEffectsByAccountId
      parameters:
        - $ref: '#/components/parameters/AccountIDParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - oneOf:
                      - $ref: '#/components/schemas/CreateAccount'
                      - $ref: '#/components/schemas/Payment'
                      - $ref: '#/components/schemas/PathPaymentStrictReceive'
                      - $ref: '#/components/schemas/PathPaymentStrictSend'
                      - $ref: '#/components/schemas/AccountMerge'
              examples:
                RetrieveAnAccountsEffects:
                  $ref: '#/components/examples/RetrieveAnAccountsEffects'
  /accounts/{account_id}/offers:
    get:
      tags:
        - Accounts
      summary: Retrieve an Account's Offers
      description: This endpoint represents all offers a given account has currently open and can be used in streaming mode. Streaming mode allows you to listen for new offers for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known offer unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream offers created since your request time.
      operationId: GetOffersByAccountId
      parameters:
        - $ref: '#/components/parameters/AccountIDParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Offer'
              examples:
                RetrieveAnAccountsOffers:
                  $ref: '#/components/examples/RetrieveAnAccountsOffers'
  /accounts/{account_id}/trades:
    get:
      tags:
        - Accounts
      summary: Retrieve an Account's Trades
      description: This endpoint represents all trades for a given account and can be used in streaming mode. Streaming mode allows you to listen for trades for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known trade unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream trades created since your request time.
      operationId: GetTradesByAccountId
      parameters:
        - $ref: '#/components/parameters/AccountIDParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Trade'
              examples:
                RetrieveAnAccountsTrades:
                  $ref: '#/components/examples/RetrieveAnAccountsTrades'
  /accounts/{account_id}/data/{key}:
    get:
      tags:
        - Accounts
      summary: Retrieve an Account's Data
      description: This endpoint represents a single data for a given account.
      operationId: GetDataByAccountId
      parameters:
        - $ref: '#/components/parameters/AccountIDParam'
        - $ref: '#/components/parameters/DataParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: string
              examples:
                RetrieveAnAccountsData:
                  $ref: '#/components/examples/RetrieveAnAccountsData'
  /assets:
    get:
      tags:
        - Assets
      summary: List all Assets
      description: This endpoint lists all assets.
      operationId: ListAllAssets
      parameters:
        - $ref: '#/components/parameters/AssetCodeParam'
        - $ref: '#/components/parameters/AssetIssuerParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Asset'
              examples:
                ListAllAssets:
                  $ref: '#/components/examples/ListAllAssets'
  /claimable_balances:
    get:
      tags:
        - Claimable Balances
      summary: List All Claimable Balances
      description: This endpoint lists all available claimable balances.
      operationId: ListAllClaimableBalances
      parameters:
        - $ref: '#/components/parameters/SponsorParam'
        - $ref: '#/components/parameters/AssetParam'
        - $ref: '#/components/parameters/ClaimantParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/ClaimableBalances'
              examples:
                ListAllClaimableBalances:
                  $ref: '#/components/examples/ListAllClaimableBalances'
  /claimable_balances/{claimable_balance_id}:
    get:
      tags:
        - Claimable Balances
      summary: Retrieve a Claimable Balance
      description: The single claimable balance endpoint provides information on a claimable balance.
      operationId: RetrieveAClaimableBalance
      parameters:
        - $ref: '#/components/parameters/ClaimableBalanceIdParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimableBalance'
              examples:
                RetrieveAClaimableBalance:
                  $ref: '#/components/examples/RetrieveAClaimableBalance'
  /claimable_balances/{claimable_balance_id}/transactions:
    get:
      tags:
        - Claimable Balances
      summary: Retrieve Related Transactions
      description: This endpoint represents successful transactions referencing a given claimable balance and can be used in streaming mode. Streaming mode allows you to listen for new transactions referencing this claimable balance as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known transaction unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream transactions created since your request time.
      operationId: CBRetrieveRelatedTransactions
      parameters:
        - $ref: '#/components/parameters/ClaimableBalanceIdParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Transaction'
              examples:
                CBRetrieveRelatedTransactions:
                  $ref: '#/components/examples/CBRetrieveRelatedTransactions'
  /claimable_balances/{claimable_balance_id}/operations:
    get:
      tags:
        - Claimable Balances
      summary: Retrieve Related Operations
      description: This endpoint represents successful operations referencing a given claimable balance and can be used in streaming mode. Streaming mode allows you to listen for new operations referencing this claimable balance as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known operation unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream operations created since your request time.
      operationId: CBRetrieveRelatedOperations
      parameters:
        - $ref: '#/components/parameters/ClaimableBalanceIdParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - oneOf:
                      - $ref: '#/components/schemas/CreateAccount'
                      - $ref: '#/components/schemas/Payment'
                      - $ref: '#/components/schemas/PathPaymentStrictReceive'
                      - $ref: '#/components/schemas/PathPaymentStrictSend'
                      - $ref: '#/components/schemas/AccountMerge'
              examples:
                CBRetrieveRelatedOperations:
                  $ref: '#/components/examples/CBRetrieveRelatedOperations'
  /effects:
    get:
      tags:
        - Effects
      summary: List All Effects
      description: This endpoint lists all effects and can be used in streaming mode. Streaming mode allows you to listen for new effects as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known effect unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream effects created since your request time.
      operationId: ListAllEffects
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Effect'
              examples:
                ListAllEffects:
                  $ref: '#/components/examples/ListAllEffects'
  /fee_stats:
    get:
      tags:
        - Fee Stats
      summary: Retrieve Fee Stats
      description: The fee stats endpoint provides information about per-operation fee stats over the last 5 ledgers.
      operationId: RetrieveFeeStats
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeStats'
              examples:
                RetrieveFeeStats:
                  $ref: '#/components/examples/RetrieveFeeStats'
      x-codeSamples:
        - lang: JavaScript
          label: '@stellar/stellar-sdk'
          source: |
            var StellarSdk = require("@stellar/stellar-sdk");
            var server = new StellarSdk.Horizon.Server(
              "https://horizon-testnet.stellar.org",
            );

            server
              .feeStats()
              .then(function (resp) {
                console.log(resp);
              })
              .catch(function (err) {
                console.error(err);
              });
  /ledgers/{sequence}:
    get:
      tags:
        - Ledgers
      summary: Retrieve a Ledger
      description: The single ledger endpoint provides information on a specific ledger.
      operationId: RetrieveALedger
      parameters:
        - $ref: '#/components/parameters/SequenceParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ledger'
              examples:
                RetrieveALedger:
                  $ref: '#/components/examples/RetrieveALedger'
  /ledgers/{sequence}/transactions:
    get:
      tags:
        - Ledgers
      summary: Retrieve a Ledger's Transactions
      description: This endpoint represents successful transactions in a given ledger.
      operationId: RetrieveALedgersTransactions
      parameters:
        - $ref: '#/components/parameters/SequenceParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Transaction'
              examples:
                RetrieveALedgersTransactions:
                  $ref: '#/components/examples/RetrieveALedgersTransactions'
  /ledgers/{sequence}/payments:
    get:
      tags:
        - Ledgers
      summary: Retrieve a Ledger's Payments
      description: 'This endpoint returns all payment-related operations in a specific ledger. Operation types that can be returned by this endpoint include: create_account, payment, path_payment, and account_merge.'
      operationId: RetrieveALedgersPayments
      parameters:
        - $ref: '#/components/parameters/SequenceParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Payment'
              examples:
                RetrieveALedgersPayments:
                  $ref: '#/components/examples/RetrieveALedgersPayments'
  /ledgers/{sequence}/operations:
    get:
      tags:
        - Ledgers
      summary: Retrieve a Ledger's Operations
      description: This endpoint returns successful operations in a specific ledger.
      operationId: RetrieveALedgersOperations
      parameters:
        - $ref: '#/components/parameters/SequenceParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
              examples:
                RetrieveALedgersOperations:
                  $ref: '#/components/examples/RetrieveALedgersOperations'
  /ledgers/{sequence}/effects:
    get:
      tags:
        - Ledgers
      summary: Retrieve a Ledgers's Effects
      description: This endpoint returns the effects of a specific ledger.
      operationId: RetrieveALedgersEffects
      parameters:
        - $ref: '#/components/parameters/SequenceParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Effect'
              examples:
                RetrieveALedgersEffects:
                  $ref: '#/components/examples/RetrieveALedgersEffects'
  /ledgers:
    get:
      tags:
        - Ledgers
      summary: List All Ledgers
      description: This endpoint lists all ledgers and can be used in streaming mode. Streaming mode allows you to listen for new ledgers as they close. If called in streaming mode, Horizon will start at the earliest known ledger unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream ledgers since your request time.
      operationId: ListAllLedgers
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ledger'
              examples:
                ListAllLedgers:
                  $ref: '#/components/examples/ListAllLedgers'
  /liquidity_pools:
    get:
      tags:
        - Liquidity Pools
      summary: List Liquidity Pools
      description: This endpoint lists all available liquidity pools.
      operationId: ListLiquidityPools
      parameters:
        - $ref: '#/components/parameters/ReserveParam'
        - $ref: '#/components/parameters/AccountParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/LiquidityPools'
              examples:
                ListLiquidityPools:
                  $ref: '#/components/examples/ListLiquidityPools'
  /liquidity_pools/{liquidity_pool_id}:
    get:
      tags:
        - Liquidity Pools
      summary: Retrieve a Liquidity Pool
      description: The single liquidity pool endpoint provides information on a liquidity pool.
      operationId: RetrieveALiquidityPool
      parameters:
        - $ref: '#/components/parameters/LiquidityPoolParamId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityPool'
              examples:
                RetrieveALiquidityPool:
                  $ref: '#/components/examples/RetrieveALiquidityPool'
  /liquidity_pools/{liquidity_pool_id}/effects:
    get:
      tags:
        - Liquidity Pools
      summary: Retrieve Related Effects
      description: This endpoint represents effects referencing a given liquidity pool and can be used in streaming mode. Streaming mode allows you to listen for new effects referencing this liquidity pool as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known effect unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream effects created since your request time.
      operationId: RetrieveRelatedEffects
      parameters:
        - $ref: '#/components/parameters/LiquidityPoolParamId'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Effect'
              examples:
                RetrieveRelatedEffects:
                  $ref: '#/components/examples/RetrieveRelatedEffects'
  /liquidity_pools/{liquidity_pool_id}/trades:
    get:
      tags:
        - Liquidity Pools
      summary: Retrieve Related Trades
      description: 'This endpoint represents successful trades fulfilled by the given liquidity pool and can be used in streaming mode. Streaming mode allows you to listen for new trades referencing this liquidity pool as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known trade unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream trade created since your request time. '
      operationId: RetrieveRelatedTrades
      parameters:
        - $ref: '#/components/parameters/LiquidityPoolParamId'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Trade'
              examples:
                RetrieveRelatedTrades:
                  $ref: '#/components/examples/RetrieveRelatedTrades'
  /liquidity_pools/{liquidity_pool_id}/transactions:
    get:
      tags:
        - Liquidity Pools
      summary: Retrieve Related Transactions
      description: This endpoint represents successful transactions referencing a given liquidity pool and can be used in streaming mode. Streaming mode allows you to listen for new transactions referencing this liquidity pool as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known transaction unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream transactions created since your request time.
      operationId: LPRetrieveRelatedTransactions
      parameters:
        - $ref: '#/components/parameters/LiquidityPoolParamId'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Transaction'
              examples:
                LPRetrieveRelatedTransactions:
                  $ref: '#/components/examples/LPRetrieveRelatedTransactions'
  /liquidity_pools/{liquidity_pool_id}/operations:
    get:
      tags:
        - Liquidity Pools
      summary: Retrieve Related Operations
      description: This endpoint represents successful operations referencing a given liquidity pool and can be used in streaming mode. Streaming mode allows you to listen for new operations referencing this liquidity pool as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known operation unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream operations created since your request time.
      operationId: LPRetrieveRelatedOperations
      parameters:
        - $ref: '#/components/parameters/LiquidityPoolParamId'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Operation'
              examples:
                LPRetrieveRelatedOperations:
                  $ref: '#/components/examples/LPRetrieveRelatedOperations'
  /offers:
    get:
      tags:
        - Offers
      summary: List All Offers
      description: This endpoint lists all currently open offers and can be used in streaming mode. Streaming mode allows you to listen for new offers as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known offer unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream offers created since your request time. When filtering by buying or selling arguments, you must use a combination of selling_asset_type, selling_asset_issuer, and selling_asset_code for the selling asset, or a combination of buying_asset_type, buying_asset_issuer, and buying_asset_code for the buying asset.
      operationId: GetAllOffers
      parameters:
        - $ref: '#/components/parameters/SponsorParam'
        - $ref: '#/components/parameters/SellerParam'
        - $ref: '#/components/parameters/SellingAssetTypeParam'
        - $ref: '#/components/parameters/SellingAssetIssuerParam'
        - $ref: '#/components/parameters/SellingAssetCodeParam'
        - $ref: '#/components/parameters/BuyingAssetTypeParam'
        - $ref: '#/components/parameters/BuyingAssetIssuerParam'
        - $ref: '#/components/parameters/BuyingAssetCodeParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Offer'
              examples:
                GetAllOffers:
                  $ref: '#/components/examples/GetAllOffers'
  /offers/{offer_id}:
    get:
      tags:
        - Offers
      summary: Retrieve an Offer
      description: The single offer endpoint provides information on a specific offer.
      operationId: GetOfferByOfferId
      parameters:
        - $ref: '#/components/parameters/OfferIDParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Offer'
              examples:
                GetOfferByOfferId:
                  $ref: '#/components/examples/GetOfferByOfferId'
  /offers/{offer_id}/trades:
    get:
      tags:
        - Offers
      summary: Retrieve an Offer's Trades
      description: This endpoint represents all trades for a given offer and can be used in streaming mode. Streaming mode allows you to listen for trades for this offer as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known trade unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream trades created since your request time.
      operationId: GetTradesByOfferId
      parameters:
        - $ref: '#/components/parameters/OfferIDParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Trade'
              examples:
                GetTradesByOfferId:
                  $ref: '#/components/examples/GetTradesByOfferId'
  /operations/{id}:
    get:
      tags:
        - Operations
      summary: Retrieve an Operation
      description: The single operation endpoint provides information about a specific operation.
      operationId: RetrieveAnOperation
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/JoinParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Operation'
              examples:
                RetrieveAnOperation:
                  $ref: '#/components/examples/RetrieveAnOperation'
  /operations/{id}/effects:
    get:
      tags:
        - Operations
      summary: Retrieve an Operation's Effects
      description: This endpoint returns the effects of a specific operation.
      operationId: RetrieveAnOperationsEffects
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Effect'
              examples:
                RetrieveAnOperationsEffects:
                  $ref: '#/components/examples/RetrieveAnOperationsEffects'
  /operations:
    get:
      tags:
        - Operations
      summary: List All Operations
      description: This endpoint lists all Successful operations and can be used in streaming mode. Streaming mode allows you to listen for new operations as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known operation unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream operations created since your request time.
      operationId: ListAllOperations
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Operation'
              examples:
                ListAllOperations:
                  $ref: '#/components/examples/ListAllOperations'
  /order_book:
    get:
      tags:
        - Order Books
      summary: Retrieve an Order Book
      description: |
        The order book endpoint provides an order book's bids and asks and can be used in [streaming](https://developers.stellar.org/docs/data/apis/horizon/api-reference/structure/streaming) mode.

        When filtering for a specific order book, you must use use all six of these arguments: `base_asset_type`, `base_asset_issuer`, `base_asset_code`, `counter_asset_type`, `counter_asset_issuer`, and `counter_asset_code`. If the base or counter asset is XLM, you only need to indicate the asset type as `native` and do not need to designate the code or the issuer.
      operationId: RetrieveAnOrderBook
      parameters:
        - $ref: '#/components/parameters/SellingAssetTypeRequiredParam'
        - $ref: '#/components/parameters/SellingAssetIssuerParam'
        - $ref: '#/components/parameters/SellingAssetCodeParam'
        - $ref: '#/components/parameters/BuyingAssetTypeParam'
        - $ref: '#/components/parameters/BuyingAssetIssuerParam'
        - $ref: '#/components/parameters/BuyingAssetCodeParam'
        - $ref: '#/components/parameters/OrderBookLimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBook'
              examples:
                RetrieveAnOrderBook:
                  $ref: '#/components/examples/RetrieveAnOrderBook'
      x-codeSamples:
        - lang: Shell
          source: |
            curl https://horizon-testnet.stellar.org/order_book?\
            selling_asset_type=native&\
            buying_asset_type=credit_alphanum4&\
            buying_asset_code=USDC&\
            buying_asset_issuer=GA5ZSEJYB37JRC5AVCIA5MOP4RHTM335X2KGX3IHOJAPP5RE34K4KZVN&\
            limit=4
        - lang: JavaScript
          label: '@stellar/stellar-sdk'
          source: |
            var StellarSdk = require("@stellar/stellar-sdk");
            var server = new StellarSdk.Horizon.Server(
              "https://horizon-testnet.stellar.org",
            );

            server
              .orderbook(
                new StellarSdk.Asset.native(),
                new StellarSdk.Asset(
                  "BB1",
                  "GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN",
                ),
              )
              .call()
              .then(function (resp) {
                console.log(resp);
              })
              .catch(function (err) {
                console.error(err);
              });
  /paths/strict-receive:
    get:
      tags:
        - Paths
      summary: List Strict Receive Payment Paths
      description: |
        The strict receive payment path endpoint lists the paths a payment can take based on the amount of an asset you want the recipient to receive. The destination asset amount stays constant, and the type and amount of an asset sent varies based on offers in the order books.

        For this search, Horizon loads a list of assets available to the sender (based on `source_account` or `source_assets`) and displays the possible paths from the different source assets to the destination asset. Only paths that satisfy the `destination_amount` are returned.
      operationId: ListStrictReceivePaymentPaths
      parameters:
        - $ref: '#/components/parameters/SourceAccountParam'
        - $ref: '#/components/parameters/SourceAssetsParam'
        - $ref: '#/components/parameters/DestinationAssetTypeParam'
        - $ref: '#/components/parameters/DestinationAssetIssuerParam'
        - $ref: '#/components/parameters/DestinationAssetCodeParam'
        - $ref: '#/components/parameters/DestinationAmountParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Path'
              examples:
                ListStrictRecievePaymentPaths:
                  $ref: '#/components/examples/ListStrictReceivePaymentPaths'
      x-codeSamples:
        - lang: Shell
          source: |
            curl https://horizon-testnet.stellar.org/paths/strict-receive?\
            source_assets=CNY:GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX&\
            destination_asset_type=credit_alphanum4&\
            destination_asset_code=BB1&\
            destination_asset_issuer=GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN&\
            destination_amount=5
        - lang: JavaScript
          label: '@stellar/stellar-sdk'
          source: |
            var StellarSdk = require("stellar-sdk");
            var server = new StellarSdk.Horizon.Server(
              "https://horizon-testnet.stellar.org",
            );

            server
              .strictReceivePaths(
                [
                  new StellarSdk.Asset(
                    "CNY",
                    "GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX",
                  ),
                ],
                new StellarSdk.Asset(
                  "BB1",
                  "GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN",
                ),
                "5",
              )
              .call()
              .then(function (resp) {
                console.log(resp);
              })
              .catch(function (err) {
                console.error(err);
              });
        - lang: Python
          label: stellar_sdk
          source: |
            from stellar_sdk import Server, Asset
            server = Server("https://horizon-testnet.stellar.org")

            response = server.strict_receive_paths(
                source=[
                    Asset("CNY", "GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX")
                ],
                destination_asset=Asset(
                    "BB1",
                    "GD5J6HLF5666X4AZLTFTXLY46J5SW7EXRKBLEYPJP33S33MXZGV6CWFN"
                ),
                destination_amount="5"
            ).call()

            print(response)
  /paths/strict-send:
    get:
      tags:
        - Paths
      summary: List Strict Send Payment Paths
      description: |
        The strict send payment path endpoint lists the paths a payment can take based on the amount of an asset you want to send. The source asset amount stays constant, and the type and amount of an asset received varies based on offers in the order books.

        For this search, Horizon loads a list of assets that the recipient can receive (based on `destination_account` or `destination_assets`) and displays the possible paths from the different source assets to the destination asset. Only paths that satisfy the `source_amount` are returned.
      operationId: ListStrictSendPaymentPaths
      parameters:
        - $ref: '#/components/parameters/SourceAssetTypeParam'
        - $ref: '#/components/parameters/SourceAssetIssuerParam'
        - $ref: '#/components/parameters/SourceAssetCodeParam'
        - $ref: '#/components/parameters/SourceAmountParam'
        - $ref: '#/components/parameters/DestinationAccountParam'
        - $ref: '#/components/parameters/DestinationAssetsParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Path'
              examples:
                ListStrictSendPaymentPaths:
                  $ref: '#/components/examples/ListStrictSendPaymentPaths'
      x-codeSamples:
        - lang: Shell
          source: |
            curl https://horizon-testnet.stellar.org/paths/strict-send?\
            source_asset_type=credit_alphanum4&\
            source_asset_code=BRL&\
            source_asset_issuer=GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP&\
            source_amount=400&\
            destination_account=GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA
        - lang: JavaScript
          label: '@stellar/stellar-sdk'
          source: |
            var StellarSdk = require("@stellar/stellar-sdk");
            var server = new StellarSdk.Horizon.Server(
              "https://horizon-testnet.stellar.org",
            );

            server
              .strictSendPaths(
                new StellarSdk.Asset(
                  "BRL",
                  "GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP",
                ),
                "400",
                "GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA",
              )
              .call()
              .then(function (resp) {
                console.log(resp);
              })
              .catch(function (err) {
                console.error(err);
              });
        - lang: Python
          label: stellar_sdk
          source: |
            from stellar_sdk import Server, Asset
            server = Server("https://horizon-testnet.stellar.org")

            response = server.strict_send_paths(
                source_asset=Asset(
                    "BRL",
                    "GDVKY2GU2DRXWTBEYJJWSFXIGBZV6AZNBVVSUHEPZI54LIS6BA7DVVSP"
                ),
                source_amount="400",
                destination="GAYOLLLUIZE4DZMBB2ZBKGBUBZLIOYU6XFLW37GBP2VZD3ABNXCW4BVA"
            ).call()

            print(response)
  /payments:
    get:
      tags:
        - Payments
      summary: List All Payments
      description: 'This endpoint lists all Successful payment-related operations and can be used in streaming mode. Streaming mode allows you to listen for new payments as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known payment unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream payments created since your request time. Operations that can be returned by this endpoint include: create_account, payment, path_payment_strict_recieve, path_payment_strict_send, and account_merge .'
      operationId: ListAllPayments
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - oneOf:
                      - $ref: '#/components/schemas/CreateAccount'
                      - $ref: '#/components/schemas/Payment'
                      - $ref: '#/components/schemas/PathPaymentStrictReceive'
                      - $ref: '#/components/schemas/PathPaymentStrictSend'
                      - $ref: '#/components/schemas/AccountMerge'
                      - $ref: '#/components/schemas/InvokeHostFunction'
              examples:
                ListAllPayments:
                  $ref: '#/components/examples/ListAllPayments'
  /trade_aggregations:
    get:
      tags:
        - Trade Aggregations
      summary: List Trade Aggregations
      description: |
        This endpoint displays trade data based on filters set in the arguments.

        This is done by dividing a given time range into segments and aggregating statistics, for a given asset pair (base, counter) over each of these segments.

        The duration of the segments is specified with the `resolution` parameter. The start and end of the time range are given by `startTime` and `endTime` respectively, which are both rounded to the nearest multiple of `resolution` since epoch.

        The individual segments are also aligned with multiples of `resolution` since epoch. If you want to change this alignment, the segments can be `offset` by specifying the offset parameter.
      operationId: ListTradeAggregations
      parameters:
        - $ref: '#/components/parameters/StartTimeParam'
        - $ref: '#/components/parameters/EndTimeParam'
        - $ref: '#/components/parameters/ResolutionParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/BaseAssetTypeRequiredParam'
        - $ref: '#/components/parameters/BaseAssetIssuerParam'
        - $ref: '#/components/parameters/BaseAssetCodeParam'
        - $ref: '#/components/parameters/CounterAssetTypeRequiredParam'
        - $ref: '#/components/parameters/CounterAssetIssuerParam'
        - $ref: '#/components/parameters/CounterAssetCodeParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeAggregation'
              examples:
                ListTradeAggregations:
                  $ref: '#/components/examples/ListTradeAggregations'
      x-codeSamples:
        - lang: Shell
          source: |
            curl https://horizon.stellar.org/trade_aggregations?\
            base_asset_type=native&\
            counter_asset_code=EURT&\
            counter_asset_issuer=GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S&\
            counter_asset_type=credit_alphanum4&\
            resolution=3600000&\
            start_time=1582156800000&\
            end_time=1582178400000
        - lang: JavaScript
          label: '@stellar/stellar-sdk'
          source: |
            var StellarSdk = require("@stellar/stellar-sdk");
            var server = new StellarSdk.Horizon.Server(
              "https://horizon-testnet.stellar.org",
            );

            var base = new StellarSdk.Asset.native();
            var counter = new StellarSdk.Asset(
              "EURT",
              "GAP5LETOV6YIE62YAM56STDANPRDO7ZFDBGSNHJQIYGGKSMOZAHOOS2S",
            );
            var startTime = 1582156800000;
            var endTime = 1582178400000;
            var resolution = 3600000;
            var offset = 0;

            server
              .tradeAggregation(base, counter, startTime, endTime, resolution, offset)
              .call()
              .then(function (resp) {
                console.log(resp);
              })
              .catch(function (err) {
                console.error(err);
              });
  /trades:
    get:
      tags:
        - Trades
      summary: List All Trades
      description: 'This endpoint lists all trades and can be used in streaming mode. Streaming mode allows you to listen for new trades as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known trade unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream trades created since your request time. When filtering for a specific orderbook, you must use use all six of these arguments: base_asset_type, base_asset_issuer, base_asset_code, counter_asset_type, counter_asset_issuer, and counter_asset_code. If the base or counter asset is XLM, you only need to indicate the asset type as native and do not need to designate the code or the issuer.'
      operationId: GetAllTrades
      parameters:
        - $ref: '#/components/parameters/OfferIdParam'
        - $ref: '#/components/parameters/BaseAssetTypeParam'
        - $ref: '#/components/parameters/BaseAssetIssuerParam'
        - $ref: '#/components/parameters/BaseAssetCodeParam'
        - $ref: '#/components/parameters/CounterAssetTypeParam'
        - $ref: '#/components/parameters/CounterAssetIssuerParam'
        - $ref: '#/components/parameters/CounterAssetCodeParam'
        - $ref: '#/components/parameters/TradeTypeParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Trade'
              examples:
                GetAllTrades:
                  $ref: '#/components/examples/GetAllTrades'
  /transactions/{transaction_hash}:
    get:
      tags:
        - Transactions
      summary: Retrieve a Transaction
      description: The single transaction endpoint provides information on a specific transaction.
      operationId: RetrieveATransaction
      parameters:
        - $ref: '#/components/parameters/HashParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schemas-Transaction'
              examples:
                RetrieveATransaction:
                  $ref: '#/components/examples/RetrieveATransaction'
  /transactions/{transaction_hash}/operations:
    get:
      tags:
        - Transactions
      summary: Retrieve a Transaction's Operations
      description: This endpoint returns Successful operations for a specific transaction.
      operationId: RetrieveATransactionsOperations
      parameters:
        - $ref: '#/components/parameters/HashParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
        - $ref: '#/components/parameters/JoinParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Operation'
              examples:
                RetrieveATransactionsOperations:
                  $ref: '#/components/examples/RetrieveATransactionsOperations'
  /transactions/{transaction_hash}/effects:
    get:
      tags:
        - Transactions
      summary: Retrieve a Transaction's Effects
      description: This endpoint returns the effects of a specific transaction.
      operationId: RetrieveATransactionsEffects
      parameters:
        - $ref: '#/components/parameters/HashParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Effect'
              examples:
                RetrieveATransactionsEffects:
                  $ref: '#/components/examples/RetrieveATransactionsEffects'
  /transactions/{transaction_hash}/payments:
    get:
      tags:
        - Payments
      summary: Retrieve a Transaction's Payments
      description: This endpoint returns the payments of a specific transaction.
      operationId: RetrieveATransactionsPayments
      parameters:
        - $ref: '#/components/parameters/HashParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Payment'
              examples:
                RetrieveATransactionsPayments:
                  $ref: '#/components/examples/RetrieveATransactionsPayments'
  /transactions:
    get:
      tags:
        - Transactions
      summary: List All Transactions
      description: This endpoint lists all Successful transactions and can be used in streaming mode. Streaming mode allows you to listen for new transactions as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known transaction unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream transactions created since your request time.
      operationId: ListAllTransactions
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/OrderParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/IncludeFailedParam'
      x-supports-streaming: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Links'
                  - $ref: '#/components/schemas/Transaction'
              examples:
                ListAllTransactions:
                  $ref: '#/components/examples/ListAllTransactions'
    post:
      tags:
        - Transactions
      summary: Submit a Transaction
      description: 'This endpoint actually submits a transaction to the Stellar network. It only takes a single, required parameter: the signed transaction. Refer to the Transactions page for details on how to craft a proper one. If you submit a transaction that has already been included in a ledger, this endpoint will return the same response as would’ve been returned for the original transaction submission. This allows for safe resubmission of transactions in error scenarios, as highlighted in the error-handling guide.'
      operationId: SubmitATransaction
      parameters:
        - in: query
          name: tx
          schema:
            type: string
            description: The base64-encoded XDR of the transaction.
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTransaction'
              examples:
                SubmitaTransaction:
                  $ref: '#/components/examples/SubmitaTransaction'
  /transactions_async:
    post:
      summary: Submit a Transaction Asynchronously
      description: This endpoint submits transactions to the Stellar network asynchronously. It is designed to allow users to submit transactions without blocking them while waiting for a response from Horizon. At the same time, it also provides clear response status codes from stellar-core to help understand the status of the submitted transaction. You can then use Horizon's [GET transaction endpoint](https://developers.stellar.org/docs/data/apis/horizon/api-reference/resources/retrieve-a-transaction) to wait for the transaction to be included in a ledger and ingested by Horizon.
      operationId: SubmitAsyncTransaction
      tags:
        - Transactions
      parameters:
        - in: query
          name: tx
          schema:
            type: string
            description: The base64-encoded XDR of the transaction.
          required: true
      responses:
        '201':
          description: Transaction has been received by core and is in pending status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncTransactionSubmissionResponse'
              examples:
                TransactionPending:
                  summary: Transaction Pending
                  value:
                    tx_status: PENDING
                    hash: 6cbb7f714bd08cea7c30cab7818a35c510cbbfc0a6aa06172a1e94146ecf0165
        '400':
          description: Transaction is malformed; ERROR status from core.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AsyncTransactionSubmissionResponse'
                  - $ref: '#/components/schemas/Problem'
              examples:
                TransactionMalformed:
                  summary: Transaction Malformed
                  value:
                    type: transaction_malformed
                    title: Transaction Malformed
                    status: 400
                    detail: Horizon could not decode the transaction envelope in this request. A transaction should be an XDR TransactionEnvelope struct encoded using base64. The envelope read from this request is echoed in the `extras.envelope_xdr` field of this response for your convenience.
                    extras:
                      envelope_xdr: ''
                TransactionError:
                  summary: ERROR Status from core
                  value:
                    error_result_xdr: AAAAAAAAAGT////7AAAAAA==
                    tx_status: ERROR
                    hash: 6cbb7f714bd08cea7c30cab7818a35c510cbbfc0a6aa06172a1e94146ecf0165
        '403':
          description: Transaction submission has been disabled for Horizon.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                TransactionSubmissionDisabled:
                  summary: Transaction Submission Disabled
                  value:
                    type: transaction_submission_disabled
                    title: Transaction Submission Disabled
                    status: 403
                    detail: Transaction submission has been disabled for Horizon. To enable it again, remove env variable DISABLE_TX_SUB.
                    extras:
                      envelope_xdr: ''
        '409':
          description: Transaction is a duplicate of a previously submitted transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncTransactionSubmissionResponse'
              examples:
                TransactionDuplicate:
                  summary: Transaction Duplicate
                  value:
                    tx_status: DUPLICATE
                    hash: 6cbb7f714bd08cea7c30cab7818a35c510cbbfc0a6aa06172a1e94146ecf0165
        '500':
          description: Transaction submission failure, exception or invalid status from core.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                TransactionFailed:
                  summary: Transaction Submission Failed
                  value:
                    type: transaction_submission_failed
                    title: Transaction Submission Failed
                    status: 500
                    detail: 'Could not submit transaction to stellar-core. The `extras.error` field on this response contains further details. Descriptions of each code can be found at: https://developers.stellar.org/api/errors/http-status-codes/horizon-specific/transaction-submission-async/transaction_submission_failed'
                    extras:
                      envelope_xdr: ''
                      error: Error details here
                TransactionException:
                  summary: Transaction Submission Exception
                  value:
                    type: transaction_submission_exception
                    title: Transaction Submission Exception
                    status: 500
                    detail: 'Received exception from stellar-core. The `extras.error` field on this response contains further details. Descriptions of each code can be found at: https://developers.stellar.org/api/errors/http-status-codes/horizon-specific/transaction-submission-async/transaction_submission_exception'
                    extras:
                      envelope_xdr: ''
                      error: Exception details here
                TransactionInvalidStatus:
                  summary: Transaction Submission Invalid Status
                  value:
                    type: transaction_submission_invalid_status
                    title: Transaction Submission Invalid Status
                    status: 500
                    detail: 'Received invalid status from stellar-core. The `extras.error` field on this response contains further details.  Descriptions of each code can be found at: https://developers.stellar.org/api/errors/http-status-codes/horizon-specific/transaction-submission-async/transaction_submission_invalid_status'
                    extras:
                      envelope_xdr: ''
                      error: Error details here
        '503':
          description: History DB is stale; core is unavailable for transaction submission.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AsyncTransactionSubmissionResponse'
                  - $ref: '#/components/schemas/Problem'
              examples:
                HistoryDBStale:
                  summary: Historical DB Is Too Stale
                  value:
                    type: stale_history
                    title: Historical DB Is Too Stale
                    status: 503
                    detail: This horizon instance is configured to reject client requests when it can determine that the history database is lagging too far behind the connected instance of Stellar-Core or read replica. It's also possible that Stellar-Core is out of sync. Please try again later.
                    extras:
                      envelope_xdr: ''
                TransactionTryAgainLater:
                  summary: TRY_AGAIN_LATER Status from core
                  value:
                    tx_status: TRY_AGAIN_LATER
                    hash: 6cbb7f714bd08cea7c30cab7818a35c510cbbfc0a6aa06172a1e94146ecf0165
components:
  parameters:
    SponsorParam:
      name: sponser
      in: query
      required: false
      description: Account ID of the sponsor. Every account in the response will either be sponsored by the given account ID or have a subentry (trustline, offer, or data entry) which is sponsored by the given account ID.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    AssetParam:
      name: asset
      in: query
      required: false
      description: An issued asset represented as “Code:IssuerAccountID”. Every account in the response will have a trustline for the given asset.
    SignerParam:
      name: signer
      in: query
      required: false
      description: Account ID of the signer. Every account in the response will have the given account ID as a signer.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    LiquidityPoolParam:
      name: liqudity_pool
      in: query
      required: false
      description: With this parameter, the results will include only accounts which have trustlines to the specified liquidity pool.
    CursorParam:
      name: cursor
      in: query
      required: false
      description: A number that points to a specific location in a collection of responses and is pulled from the paging_token value of a record.
      schema:
        type: integer
        example: 6606617478959105
    OrderParam:
      name: order
      in: query
      required: false
      description: A designation of the order in which records should appear. Options include `asc` (ascending) or `desc` (descending). If this argument isn’t set, it defaults to `asc`.
      schema:
        type: string
        enum:
          - asc
          - desc
    LimitParam:
      name: limit
      in: query
      required: false
      description: The maximum number of records returned. The limit can range from 1 to 200 - an upper limit that is hardcoded in Horizon for performance reasons. If this argument isn’t designated, it defaults to 10.
      schema:
        type: integer
        example: 10
    AccountIDParam:
      name: account_id
      in: path
      required: true
      description: This account’s public key encoded in a base32 string representation.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    IncludeFailedParam:
      name: include_failed
      in: query
      required: false
      description: Set to true to include failed operations in results. Options include true and false.
      schema:
        type: boolean
        enum:
          - true
          - false
    JoinParam:
      name: join
      in: query
      required: false
      description: Set to transactions to include the transactions which created each of the operations in the response.
    DataParam:
      name: key
      in: path
      required: true
      description: The key name for this data.
      schema:
        type: string
        example: config.memo_required
    AssetCodeParam:
      name: asset_code
      in: query
      required: false
      description: The code of the asset you would like to filter by.
    AssetIssuerParam:
      name: asset_issuer
      in: query
      required: false
      description: The Stellar address of the issuer for the asset you would like to filter by.
    ClaimantParam:
      name: claimant
      in: query
      required: false
      description: Account ID of the destination address. Only include claimable balances which can be claimed by the given account ID.
    ClaimableBalanceIdParam:
      name: claimable_balance_id
      in: path
      required: true
      description: A unique identifier for this claimable balance.
      schema:
        type: string
    SequenceParam:
      name: sequence
      in: path
      required: true
      description: The sequence number of a specific ledger.
      schema:
        type: integer
        example: 0
    ReserveParam:
      name: reserves
      in: query
      required: false
      description: Comma-separated list of assets in canonical form (Code:IssuerAccountID), to only include liquidity pools which have reserves matching all listed assets.
    AccountParam:
      name: account
      in: query
      required: false
      description: A Stellar account ID, to only include liquidity pools in which this account is participating in (i.e. holds pool shares to).
    LiquidityPoolParamId:
      name: liquidity_pool_id
      in: path
      required: true
      description: A unique identifier for this liquidity pool.
    SellerParam:
      name: seller
      in: query
      required: false
      description: The account ID of the offer creator.
    SellingAssetTypeParam:
      name: selling_asset_type
      in: query
      required: false
      description: The type for the selling asset. Either native, credit_alphanum4, or credit_alphanum12.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    SellingAssetIssuerParam:
      name: selling_asset_issuer
      in: query
      required: false
      description: The Stellar address of the issuer of the asset being sold (base asset). Required if the `selling_asset_type` is not `native`.
      schema:
        type: string
        example: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
    SellingAssetCodeParam:
      name: selling_asset_code
      in: query
      required: false
      description: The code for the asset being sold (base asset). Required if the `selling_asset_type` is not `native`.
      schema:
        type: string
        example: USD
    BuyingAssetTypeParam:
      name: buying_asset_type
      in: query
      required: false
      description: The type for the asset being bought (counter asset). Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    BuyingAssetIssuerParam:
      name: buying_asset_issuer
      in: query
      required: false
      description: The Stellar address of the issuer of the asset being bought (counter asset). Required if the `buying_asset_type` is not `native`.
      schema:
        type: string
        example: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
    BuyingAssetCodeParam:
      name: buying_asset_code
      in: query
      required: false
      description: The code for the asset being bought (counter asset). Required if the `buying_asset_type` is not `native`.
      schema:
        type: string
        example: EUR
    OfferIDParam:
      name: offer_id
      in: path
      required: true
      description: A unique identifier for this offer.
    IdParam:
      name: id
      in: path
      required: true
      description: The ID number for this operation.
      schema:
        type: string
        example: 121692259040116740
    SellingAssetTypeRequiredParam:
      name: selling_asset_type
      in: query
      required: true
      description: The type for the asset being sold (base asset). Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    OrderBookLimitParam:
      name: limit
      in: query
      required: false
      description: The maximum number of records returned. The limit can range from 1 to 200 — an upper limit that is hardcoded in Horizon for performance reasons. If this argument isn’t designated, it defaults to 20 for order books.
      schema:
        type: integer
        example: 20
    SourceAccountParam:
      name: source_account
      in: query
      required: false
      description: The Stellar address of the sender. Any returned path must start with an asset that the sender holds. Using either `source_account` or `source_assets` as an argument is required for strict receive path payments.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    SourceAssetsParam:
      name: source_assets
      in: query
      required: false
      description: 'A comma-separated list of assets available to the sender. Any returned path must start with an asset in this list. Each asset is formatted as `CODE:ISSUER_ACCOUNT`. For example: `USD:GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX`. Using either `source_account` or `source_assets` as an argument is required for strict receive path payments.'
      schema:
        type: string
        example: CNY:GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
    DestinationAssetTypeParam:
      name: destination_asset_type
      in: query
      required: true
      description: The type for the destination asset. Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    DestinationAssetIssuerParam:
      name: destination_asset_issuer
      in: query
      required: false
      description: The Stellar address of the issuer of the destination asset. Required if the `destination_asset_type` is not `native`.
      schema:
        type: string
        example: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
    DestinationAssetCodeParam:
      name: destination_asset_code
      in: query
      required: false
      description: The code for the destination asset. Required if the `destination_asset_type` is not `native`.
      schema:
        type: string
        example: USD
    DestinationAmountParam:
      name: destination_amount
      in: query
      required: true
      description: The amount of the destination asset that should be received.
      schema:
        type: string
        example: '5'
    SourceAssetTypeParam:
      name: source_asset_type
      in: query
      required: true
      description: The type for the source asset. Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    SourceAssetIssuerParam:
      name: source_asset_issuer
      in: query
      required: false
      description: The Stellar address of the issuer of the source asset. Required if the `source_asset_type` is not `native`.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    SourceAssetCodeParam:
      name: source_asset_code
      in: query
      required: false
      description: The code for the source asset. Required if the `source_asset_type` is not `native`.
      schema:
        type: string
        example: USD
    SourceAmountParam:
      name: source_amount
      in: query
      required: true
      description: The amount of the source asset that should be sent.
      schema:
        type: string
        example: '5'
    DestinationAccountParam:
      name: destination_account
      in: query
      required: false
      description: The Stellar address of the receiver. Any returned path must end with an asset that the recipient can receive. Using either `source_account` or `source_assets` as an argument is required for strict send path payments.
      schema:
        type: string
        example: GDMQQNJM4UL7QIA66P7R2PZHMQINWZBM77BEBMHLFXD5JEUAHGJ7R4JZ
    DestinationAssetsParam:
      name: destination_assets
      in: query
      required: false
      description: 'A comma-separated list of assets that the recipient can receive. Any returned path must end with an asset in this list. Each asset is formatted as `CODE:ISSUER_ACCOUNT`. For example: `USD:GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX`. Using either `source_account` or `source_assets` as an argument is required for strict send path payments.'
      schema:
        type: string
        example: CNY:GAREELUB43IRHWEASCFBLKHURCGMHE5IF6XSE7EXDLACYHGRHM43RFOX
    StartTimeParam:
      name: start_time
      in: query
      required: false
      description: The lower time boundary represented as milliseconds since epoch.
      schema:
        type: integer
        format: long
    EndTimeParam:
      name: end_time
      in: query
      required: false
      description: The upper time boundary represented as milliseconds since epoch.
      schema:
        type: integer
        format: long
    ResolutionParam:
      name: resolution
      in: query
      required: false
      description: The segment duration represented as milliseconds. Supported values are 1 minute (60000), 5 minutes (300000), 15 minutes (900000), 1 hour (3600000), 1 day (86400000) and 1 week (604800000).
      schema:
        type: integer
        format: long
        oneOf:
          - const: 60000
            description: 1 minute
          - const: 300000
            description: 5 minutes
          - const: 900000
            description: 15 minutes
          - const: 3600000
            description: 1 hour
          - const: 86400000
            description: 1 day
          - const: 604800000
            description: 1 week
    OffsetParam:
      name: offset
      in: query
      required: false
      description: Segments can be offset using this parameter. Expressed in milliseconds. Can only be used if the resolution is greater than 1 hour. Value must be in whole hours, less than the provided resolution, and less than 24 hours.
      schema:
        type: number
        format: long
    BaseAssetTypeRequiredParam:
      name: base_asset_type
      in: query
      required: true
      description: The type for the base asset. Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    BaseAssetIssuerParam:
      name: base_asset_issuer
      in: query
      required: false
      description: The Stellar address of the base asset’s issuer. Required if the `base_asset_type` is not `native`.
      schema:
        type: string
        example: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
    BaseAssetCodeParam:
      name: base_asset_code
      in: query
      required: false
      description: The code for the base asset. Required if the `base_asset_type` is not `native`.
      schema:
        type: string
        example: USD
    CounterAssetTypeRequiredParam:
      name: counter_asset_type
      in: query
      required: true
      description: The type for the counter asset. Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    CounterAssetIssuerParam:
      name: counter_asset_issuer
      in: query
      required: false
      description: The Stellar address of the counter asset’s issuer. Required if the `counter_asset_type` is not `native`.
      schema:
        type: string
        example: GDUKMGUGDZQK6YHYA5Z6AY2G4XDSZPSZ3SW5UN3ARVMO6QSRDWP5YLEX
    CounterAssetCodeParam:
      name: counter_asset_code
      in: query
      required: false
      description: The code for the counter asset. Required if the `counter_asset_type` is not `native`.
      schema:
        type: string
        example: USD
    OfferIdParam:
      name: offer_id
      in: query
      required: false
      description: The offer ID. Used to filter for trades originating from a specific offer.
    BaseAssetTypeParam:
      name: base_asset_type
      in: query
      required: false
      description: The type for the base asset. Either `native`, `credit_alphanum4`, or `credit_alphanum12`.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    CounterAssetTypeParam:
      name: counter_asset_type
      in: query
      required: false
      description: The type for the counter asset. Either native, credit_alphanum4, or credit_alphanum12.
      schema:
        type: string
        enum:
          - native
          - credit_alphanum4
          - credit_alphanum12
    TradeTypeParam:
      name: trade_type
      in: query
      required: false
      description: Can be set to all, orderbook, or liquidity_pools to filter only trades executed across a given mechanism.
      schema:
        type: string
        enum:
          - all
          - orderbook
          - liquidity_pools
    HashParam:
      name: transaction_hash
      in: path
      required: true
      description: Transactions are commands that modify the ledger state and consist of one or more operations.
      schema:
        type: string
        example: 5ebd5c0af4385500b53dd63b0ef5f6e8feef1a7e1c86989be3cdcce825f3c0cc
  schemas:
    link:
      type: object
      properties:
        href:
          type: string
          format: link
        templated:
          type: boolean
      required:
        - href
    Links:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            next:
              $ref: '#/components/schemas/link'
            prev:
              $ref: '#/components/schemas/link'
    id:
      type: string
    address:
      type: string
      pattern: G[A-Z0-9]{55}
    sequence:
      type: string
      pattern: '[0-9]+'
    sequence_ledger:
      type: integer
      format: uint32
    subentry_count:
      type: integer
      format: int32
    last_modified_ledger:
      type: integer
      format: uint32
    thresholds:
      type: object
      properties:
        low_threshold:
          type: integer
        med_threshold:
          type: integer
        high_threshold:
          type: integer
    flags:
      type: object
      properties:
        auth_required:
          type: boolean
        auth_revocable:
          type: boolean
        auth_immutable:
          type: boolean
        auth_clawback_enabled:
          type: boolean
    currency:
      type: string
      pattern: '[0-9]+\.[0-9]{7}'
    BalanceLineNative:
      type: object
      properties:
        balance:
          $ref: '#/components/schemas/currency'
        liquidity_pool_id:
          type: string
        limit:
          $ref: '#/components/schemas/currency'
        buying_liabilites:
          $ref: '#/components/schemas/currency'
        selling_liabilites:
          $ref: '#/components/schemas/currency'
        sponser:
          type: string
        last_modified_ledger:
          $ref: '#/components/schemas/last_modified_ledger'
        is_authorized:
          type: boolean
        is_authorized_to_maintain_liabilites:
          type: boolean
        is_clawback_enabled:
          type: boolean
        asset_type:
          type: string
          enum:
            - native
      required:
        - balance
        - limit
        - asset_type
        - buying_liabilites
        - selling_liabilites
        - last_modified_ledger
        - is_authorized
        - is_authorized_to_maintain_liabilites
        - is_clawback_enabled
    BalanceLineAsset:
      type: object
      properties:
        balance:
          $ref: '#/components/schemas/currency'
        limit:
          $ref: '#/components/schemas/currency'
        buying_liabilites:
          $ref: '#/components/schemas/currency'
        selling_liabilites:
          $ref: '#/components/schemas/currency'
        sponser:
          $ref: '#/components/schemas/address'
        last_modified_ledger:
          $ref: '#/components/schemas/last_modified_ledger'
        is_authorized:
          type: boolean
        is_authorized_to_maintain_liabilites:
          type: boolean
        is_clawback_enabled:
          type: boolean
        asset_type:
          type: string
          enum:
            - native
            - credit_alphanum4
            - credit_alphanum12
        asset_code:
          type: string
        asset_issuer:
          $ref: '#/components/schemas/address'
      required:
        - balance
        - limit
        - asset_type
        - asset_code
        - asset_issuer
        - buying_liabilites
        - selling_liabilites
        - last_modified_ledger
        - is_authorized
        - is_authorized_to_maintain_liabilites
        - is_clawback_enabled
    BalanceLineLiquidityPool:
      type: object
      properties:
        liquidity_pool_id:
          type: string
        asset_type:
          type: string
          enum:
            - liquidity_pool_shares
        balance:
          $ref: '#/components/schemas/currency'
        limit:
          $ref: '#/components/schemas/currency'
        last_modified_ledger:
          $ref: '#/components/schemas/last_modified_ledger'
        sponser:
          $ref: '#/components/schemas/address'
        is_authorized:
          type: boolean
        is_authorized_to_maintain_liabilites:
          type: boolean
        is_clawback_enabled:
          type: boolean
      required:
        - liquidity_pool_id
        - balance
        - limit
        - asset_type
        - last_modified_ledger
        - is_authorized
        - is_authorized_to_maintain_liabilites
        - is_clawback_enabled
    signers:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/address'
        weight:
          type: integer
          format: int32
        type:
          type: string
          enum:
            - ed25519_public_key
            - sha256_hash
            - preauth_tx
        sponser:
          $ref: '#/components/schemas/address'
      required:
        - key
        - weight
        - type
    Account:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            records:
              type: array
              items:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        $ref: '#/components/schemas/link'
                      transactions:
                        $ref: '#/components/schemas/link'
                      operations:
                        $ref: '#/components/schemas/link'
                      payments:
                        $ref: '#/components/schemas/link'
                      effects:
                        $ref: '#/components/schemas/link'
                      offers:
                        $ref: '#/components/schemas/link'
                      trades:
                        $ref: '#/components/schemas/link'
                      data:
                        $ref: '#/components/schemas/link'
                    required:
                      - self
                      - transactions
                      - operations
                      - payments
                      - effects
                      - offers
                      - trades
                      - data
                  id:
                    $ref: '#/components/schemas/id'
                  account_id:
                    $ref: '#/components/schemas/address'
                  sequence:
                    $ref: '#/components/schemas/sequence'
                  sequence_ledger:
                    $ref: '#/components/schemas/sequence_ledger'
                  sequence_time:
                    type: string
                  subentry_count:
                    $ref: '#/components/schemas/subentry_count'
                  inflation_destination:
                    $ref: '#/components/schemas/address'
                  home_domain:
                    type: string
                  last_modified_ledger:
                    $ref: '#/components/schemas/last_modified_ledger'
                  last_modified_time:
                    type: string
                  thresholds:
                    $ref: '#/components/schemas/thresholds'
                  flags:
                    $ref: '#/components/schemas/flags'
                  balances:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/BalanceLineNative'
                        - $ref: '#/components/schemas/BalanceLineAsset'
                        - $ref: '#/components/schemas/BalanceLineLiquidityPool'
                  signers:
                    type: array
                    items:
                      $ref: '#/components/schemas/signers'
[...]
