openapi: 3.0.3
info:
  title: Horizon
  version: 0.0.1

servers:
  - url: https://horizon-testnet.stellar.org
    description: The Testnet Network
tags:
  - name: Accounts
    description: Users interact with the Stellar network through accounts. Everything else in the ledger—assets, offers, trustlines, etc. are owned by accounts, and accounts must authorize all changes to the ledger through signed transactions.
  - name: Assets
    description: Assets are representations of value issued on the Stellar network. An asset consists of a type, code, and issuer.
  - name: Claimable Balances
    description: A Claimable Balance represents the transfer of ownership of some amount of an asset. Claimable balances provide a mechanism for setting up a payment which can be claimed in the future. This allows you to make payments to accounts which are currently not able to accept them.
  - name: Effects
    description: Effects represent specific changes that occur in the ledger as a result of successful operations, but are not necessarily directly reflected in the ledger or history, as transactions and operations are.
  - name: Fee Stats
    description: Fee stats are used to predict what fee to set for a transaction before submitting it to the network.
  - name: Liquidity Pools
    description: Liquidity Pools provide a simple, non-interactive way to trade large amounts of capital and enable high volumes of trading.
  - name: Ledgers
    description: Each ledger stores the state of the network at a point in time and contains all the changes - transactions, operations, effects, etc. - to that state.
  - name: Offers
    description: Offers are statements about how much of an asset an account wants to buy or sell.
  - name: Order Books
    description: An order book is a collections of offers for a specific pair of assets.
  - name: Trade Aggregations
    description: A trade aggregation represents aggregated statistics on an asset pair (base and counter) for a specific time period. Trade aggregations are useful to developers of trading clients and provide historical trade data.
  - name: Trades
    description: When an offer is fully or partially fulfilled, a trade happens. Trades can also be caused by successful path payments, because path payments involve fulfilling offers. A trade occurs between two parties—base and counter. Which is which is either arbitrary or determined by the calling query.
  - name: Transactions
    description: Transactions are commands that modify the ledger state and consist of one or more operations.
paths:
   /accounts:
      $ref: './components/endpoints/accounts.yml#/paths/~1accounts'
   /accounts/{account_id}:
      $ref: './components/endpoints/accounts.yml#/paths/~1accounts~1{account_id}'
   /accounts/{account_id}/transactions:
      $ref : './components/endpoints/accounts.yml#/paths/~1accounts~1{account_id}~1transactions'
   /accounts/{account_id}/operations:
      $ref : './components/endpoints/accounts.yml#/paths/~1accounts~1{account_id}~1operations'
   /accounts/{account_id}/payments:
      $ref : './components/endpoints/accounts.yml#/paths/~1accounts~1{account_id}~1payments'
   /accounts/{account_id}/effects:
      $ref : './components/endpoints/accounts.yml#/paths/~1accounts~1{account_id}~1effects'
   /accounts/{account_id}/offers:
      $ref : './components/endpoints/accounts.yml#/paths/~1accounts~1{account_id}~1offers'
   /accounts/{account_id}/trades:
      $ref : './components/endpoints/accounts.yml#/paths/~1accounts~1{account_id}~1trades'
   /accounts/{account_id}/data/{key}:
      $ref : './components/endpoints/accounts.yml#/paths/~1accounts~1{account_id}~1data~1{key}'
   /assets:
      $ref : './components/endpoints/assets.yml#/paths/~1assets'
   /claimable_balances:
      $ref : './components/endpoints/claimableBalances.yml#/paths/~1claimable_balances'
   /claimable_balances/{claimable_balance_id}:
      $ref : './components/endpoints/claimableBalances.yml#/paths/~1claimable_balances~1{claimable_balance_id}'
   /claimable_balances/{claimable_balance_id}/transactions:
      $ref : './components/endpoints/claimableBalances.yml#/paths/~1claimable_balances~1{claimable_balance_id}~1transactions'
   /claimable_balances/{claimable_balance_id}/operations:
      $ref : './components/endpoints/claimableBalances.yml#/paths/~1claimable_balances~1{claimable_balance_id}~1operations'
   /effects:
      $ref : './components/endpoints/effects.yml#/paths/~1effects'
   /fee_stats:
      $ref: './components/endpoints/feeStats.yml#/paths/~1fee_stats'
   /ledgers/{sequence}:
      $ref : './components/endpoints/ledgers.yml#/paths/~1ledgers~1{sequence}'
   /ledgers/{sequence}/transactions:
      $ref : './components/endpoints/ledgers.yml#/paths/~1ledgers~1{sequence}~1transactions'
   /ledgers/{sequence}/payments:
      $ref : './components/endpoints/ledgers.yml#/paths/~1ledgers~1{sequence}~1payments'
   /ledgers/{sequence}/operations:
      $ref : './components/endpoints/ledgers.yml#/paths/~1ledgers~1{sequence}~1operations'
   /ledgers/{sequence}/effects:
      $ref : './components/endpoints/ledgers.yml#/paths/~1ledgers~1{sequence}~1effects'
   /ledgers:
      $ref : './components/endpoints/ledgers.yml#/paths/~1ledgers'
   /liquidity_pools:
      $ref : './components/endpoints/liquidityPools.yml#/paths/~1liquidity_pools'
   /liquidity_pools/{liquidity_pool_id}:
      $ref : './components/endpoints/liquidityPools.yml#/paths/~1liquidity_pools~1{liquidity_pool_id}'
   /liquidity_pools/{liquidity_pool_id}/effects:
         $ref : './components/endpoints/liquidityPools.yml#/paths/~1liquidity_pools~1{liquidity_pool_id}~1effects'
   /liquidity_pools/{liquidity_pool_id}/trades:
         $ref : './components/endpoints/liquidityPools.yml#/paths/~1liquidity_pools~1{liquidity_pool_id}~1trades'
   /liquidity_pools/{liquidity_pool_id}/transactions:
      $ref : './components/endpoints/liquidityPools.yml#/paths/~1liquidity_pools~1{liquidity_pool_id}~1transactions'
   /liquidity_pools/{liquidity_pool_id}/operations:
      $ref : './components/endpoints/liquidityPools.yml#/paths/~1liquidity_pools~1{liquidity_pool_id}~1operations'
   /offers:
      $ref : './components/endpoints/offers.yml#/paths/~1offers'
   /offers/{offer_id}:
      $ref : './components/endpoints/offers.yml#/paths/~1offers~1{offer_id}'
   /offers/{offer_id}/trades:
      $ref : './components/endpoints/offers.yml#/paths/~1offers~1{offer_id}~1trades'
   /operations/{id}:
      $ref : './components/endpoints/operations.yml#/paths/~1operations~1{id}'
   /operations/{id}/effects:
      $ref : './components/endpoints/operations.yml#/paths/~1operations~1{id}~1effects'
   /operations:
      $ref : './components/endpoints/operations.yml#/paths/~1operations'
   /order_books{selling_asset_type}:
      $ref : './components/endpoints/orderBooks.yml#/paths/~1order_book{selling_asset_type}'
   # This path is broken. The URL is wrong. compare example to recieved value
   /paths/strict-receive{destination_asset_type}{destination_amount}:
      $ref : './components/endpoints/paths.yml#/paths/~1paths~1strict-receive{destination_asset_type}{destination_amount}'
   /paths/strict-send{source_asset_type}{source_amount}:
      $ref : './components/endpoints/paths.yml#/paths/~1paths~1strict-send{source_asset_type}{source_amount}'
   /payments:
      $ref : './components/endpoints/operations.yml#/paths/~1payments'
   /trade_aggregations{base_asset_type}{counter_asset_type}:
      $ref : './components/endpoints/tradeAggregations.yml#/paths/~1trade_aggregations{base_asset_type}{counter_asset_type}'
   /trades:
      $ref : './components/endpoints/trades.yml#/paths/~1trades'
   /transactions/{transaction_hash}:
      $ref : './components/endpoints/transactions.yml#/paths/~1transactions~1{transaction_hash}'
   /transactions/{transaction_hash}/operations:
      $ref : './components/endpoints/transactions.yml#/paths/~1transactions~1{transaction_hash}~1operations'
   /transactions/{transaction_hash}/effects:
      $ref : './components/endpoints/transactions.yml#/paths/~1transactions~1{transaction_hash}~1effects'
   /transactions:
      $ref : './components/endpoints/transactions.yml#/paths/~1transactions'
