.dashboardHeader {
  background-image: url("/static/img/dashboard-bg.png");
  background-size: cover;
  background-position: center;
  height: 200px;
  color: #ffffff;
  padding: 40px 0 0 12%;
}

.dashboardTitle {
  text-decoration: underline;
  margin-left: 10px;
}

.dashboardTabs {
}

.userInfo {
  display: flex;
  padding: 10px 0 0 10px;
}

.userInfoItem {
  display: flex;
  align-items: flex-start;
  list-style: none;
}

.userInfoItem:nth-child(1) {
  margin-right: 150px;
}

.userInfoItem:nth-child(2) {
  margin-right: 24px;
}

.userAddress {
  position: relative;
  max-width: 132px;
  font-weight: 600;
}

.userAddress::after {
  content: attr(data-truncate);
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
}

.userAddress div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completedChallenges {
  display: flex;
  flex-direction: column;
}

.completedChallenges label {
  font-size: 20px;
  font-weight: 600;
}

.completedChallenges span {
  font-size: 12px;
  color: #bdbdbd;
}

.copyIcon {
  position: absolute;
  top: 1px;
  right: -67px;
  cursor: pointer;
}

.avatarIcon {
  margin-right: 10px;
}

.statsIcon {
  width: 30px;
  height: 30px;
  background-color: #444444;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
}

.logoutButton {
  color: #369ea7;
  background-color: transparent;
  padding: 12px 8px;
  border: none;
  font-family: var(--ifm-font-family-base);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
