openapi: 3.1.0
info:
  version: 2.9.0
  title: Custody Server
  description: |
    The custody server connects to enterprise wallet providers, such as Fireblocks, to send and receive payments for transactions initiated via the Anchor Platform. This service is an alternative to the Stellar Observer for businesses who use one of the supported providers. In addition to the functionality offered by the Stellar Observer, the Custody Server can also facilitate outbound payments to client's Stellar accounts. If you also use the events service, payments to your accounts will trigger a HTTP callback made to your business server.

    If you already have an integration with your wallet provider, then this component is not required, although your business server will need to notify the Anchor Platform when a payment associated with an Anchor Platform transaction was sent to or from your Stellar accounts via the Platform API.

    Currently the only supported provider is Fireblocks.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://custody-server.exampleanchor.com
tags:
  - name: Custody Transactions
    description: Custody Server creates custody transaction record in DB.
  - name: Payments
    description: Custody Server calls the configured custody service to send payment.
  - name: Refunds
    description: Custody Server calls configured Custody Service to send refund. Custody transaction record is also created in DB.
  - name: Custody Unique Address
    description: Custody Server calls the configured custody service to generate deposit address and memo.
paths:
  /transactions:
    post:
      description: Custody Server creates custody transaction record in DB.
      summary: Create Custody Transaction
      operationId: createCustodyTransaction
      tags:
        - Custody Transactions
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: SEP transaction ID.
                  type: string
                memo:
                  description: Memo value, that is used to identify inbound or outbound payments.
                  type: string
                memoType:
                  description: Type of memo, that is used to identify inbound or outbound payments.
                  type: string
                  enum:
                    - id
                    - hash
                    - text
                protocol:
                  description: Protocol of SEP transaction.
                  type: string
                  enum:
                    - '6'
                    - '24'
                    - '31'
                fromAccount:
                  description: Source Stellar account.
                  type: string
                toAccount:
                  description: Destination Stellar account.
                  type: string
                amount:
                  description: Amount of the asset, that is sent/received.
                  type: string
                amountFee:
                  description: Fee of SEP transaction.
                  type: string
                asset:
                  description: Asset, that is sent/received.
                  type: string
                kind:
                  description: Kind of the SEP transaction.
                  type: string
                  enum:
                    - deposit
                    - withdrawal
                    - receive
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
  /transactions/:id/payments:
    post:
      description: Custody Server calls the configured custody service to send payment.
      summary: Send Payment
      operationId: sendPayment
      tags:
        - Payments
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendPaymentResponse'
        '400':
          description: Invalid Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
        '404':
          description: Custody Transaction is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
        '429':
          description: Custody Service rate limit is exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
        '503':
          description: Custody Service is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
  /transactions/:id/refunds:
    post:
      description: Custody Server calls configured Custody Service to send refund. Custody transaction record is also created in DB.
      summary: Send Refund
      operationId: sendRefund
      tags:
        - Refunds
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memo:
                  description: Memo value, that will be added to the refund payment.
                  type: string
                memoType:
                  description: Type of memo, that will be added to the refund payment.
                  type: string
                amount:
                  description: Amount, that will be refunded.
                  type: string
                amountFee:
                  description: Fee of the refund.
                  type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendPaymentResponse'
        '400':
          description: Invalid Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
        '404':
          description: Custody Transaction is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
        '429':
          description: Custody Service rate limit is exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
        '503':
          description: Custody Service is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
  /assets/:asset/addresses:
    post:
      description: |
        Custody Server calls the configured custody service to generate deposit address and memo.

        Format of `asset` parameter - `stellar:USDC:GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5`
      summary: Generate Unique Address
      operationId: generateUniqueAddress
      tags:
        - Custody Unique Address
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUniqueAddressResponse'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyError'
components:
  schemas:
    CustodyError:
      type: object
      required:
        - error
      properties:
        error:
          type: string
    SendPaymentResponse:
      type: object
      properties:
        id:
          type: string
          description: External TX ID from custody service.
    GenerateUniqueAddressResponse:
      type: object
      properties:
        address:
          description: Deposit address to which the client should send funds.
          type: string
        memo:
          description: Memo value, that should be added to payment by the client.
          type: string
        memoType:
          description: Type of memo, that should be added to payment by the client.
          type: string
          enum:
            - id
            - hash
            - text
