.LinkColumn {
  width: 25%;
}

.DescColumn {
  width: 75%
}

.DescColumnInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: start;
  }
}
