openapi: 3.0.3
info:
  title: Horizon Account API
  version: 0.0.1

servers:
  - url: https://horizon.stellar.org/
    description: The main network
  - url: https://horizon-testnet.stellar.org/ 
    description: The test network    

tags:
  - name: account
    description: Users interact with the Stellar network through accounts. Everything else in the ledger—assets, offers, trustlines, etc. are owned by accounts, and accounts must authorize all changes to the ledger through signed transactions.
    externalDocs:
      description: Learn more about accounts here
      url: https://developers.stellar.org/docs/glossary/accounts/

paths:
  /accounts:
    get:
      tags:
        - account
      summary: List all Accounts
      description: "This endpoint lists accounts by one of three filters : signer, asset, or sponsor."   
      operationId: ListAllAccounts
      parameters:
        - $ref: '../parameters.yml#/components/parameters/SponserParam'
        - $ref: '../parameters.yml#/components/parameters/AssetParam'
        - $ref: '../parameters.yml#/components/parameters/SignerParam'
        - $ref: '../parameters.yml#/components/parameters/LiquidityPoolParam'
        - $ref: '../parameters.yml#/components/parameters/CursorParam'
        - $ref: '../parameters.yml#/components/parameters/OrderParam'
        - $ref: '../parameters.yml#/components/parameters/LimitParam'
      responses:
        '200':
          description: OK  
  /accounts/{account_id}:
    get:
      tags:
        - account
      summary: Retrieve an Account
      description: The single account endpoint provides information on a specific account.
                   The balances section in the response will also list all the trustlines this account has established, including trustlines that haven’t been authorized yet.    
      operationId: RetrieveAnAccount
      parameters:
        - $ref: '../parameters.yml#/components/parameters/AccountIDParam'
      responses:
        '200':
          description: OK
  /accounts/{account_id}/transactions:
    get:
      tags: 
        - account
      summary: Retrieve an Account's Transactions
      description: "This endpoint represents successful transactions for a given account and can be used in streaming mode. Streaming mode allows you to listen for new transactions for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known transaction unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream transactions created since your request time."   
      operationId: GetTransactionsByAccountid
      parameters:
        - $ref: '../parameters.yml#/components/parameters/AccountIDParam'
        - $ref: '../parameters.yml#/components/parameters/CursorParam'
        - $ref: '../parameters.yml#/components/parameters/OrderParam'
        - $ref: '../parameters.yml#/components/parameters/LimitParam'
        - $ref: '../parameters.yml#/components/parameters/IncludeFailedParam'
      responses:
        '200':
          description: OK   
  /accounts/{account_id}/operations:
    get:
      tags:
        - account
      summary: Retrieve an Account's Operations
      description: This endpoint represents successful operations for a given account and can be used in streaming mode. Streaming mode allows you to listen for new operations for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known operation unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream operations created since your request time.
      operationId: GetOperationsByAccountid
      parameters:
        - $ref: '../parameters.yml#/components/parameters/AccountIDParam'
        - $ref: '../parameters.yml#/components/parameters/CursorParam'
        - $ref: '../parameters.yml#/components/parameters/OrderParam'
        - $ref: '../parameters.yml#/components/parameters/LimitParam'
        - $ref: '../parameters.yml#/components/parameters/IncludeFailedParam'
        - $ref: '../parameters.yml#/components/parameters/JoinParam'
      responses:
        '200':
          description: OK
  /accounts/{account_id}/payments:
    get:
      tags:
        - account
      summary: Retrieve an Account's Payments
      description: "This endpoint represents successful payments for a given account and can be used in streaming mode. Streaming mode allows you to listen for new payments for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known payment unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream payments created since your request time."        
      operationId: GetPaymentsbyAccountid
      parameters:
        - $ref: '../parameters.yml#/components/parameters/AccountIDParam'
        - $ref: '../parameters.yml#/components/parameters/CursorParam'
        - $ref: '../parameters.yml#/components/parameters/OrderParam'
        - $ref: '../parameters.yml#/components/parameters/LimitParam'
        - $ref: '../parameters.yml#/components/parameters/IncludeFailedParam'
        - $ref: '../parameters.yml#/components/parameters/JoinParam'
      responses:
        '200':
          description: OK
  /accounts/{account_id}/effects:
    get:
      tags:
        - account
      summary: Retrieve an Account's Effects
      description: This endpoint returns the effects of a specific account and can be used in streaming mode. Streaming mode allows you to listen for new effects for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known effect unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream effects created since your request time.   
      operationId: GetEffectsbyAccountid
      parameters:
        - $ref: '../parameters.yml#/components/parameters/AccountIDParam'
        - $ref: '../parameters.yml#/components/parameters/CursorParam'
        - $ref: '../parameters.yml#/components/parameters/OrderParam'
        - $ref: '../parameters.yml#/components/parameters/LimitParam' 
      responses:
        '200':
          description: OK
  /accounts/{account_id}/offers:
    get:
      tags:
        - account
      summary: Retrieve an Account's Offers
      description: This endpoint represents all offers a given account has currently open and can be used in streaming mode. Streaming mode allows you to listen for new offers for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known offer unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream offers created since your request time.   
      operationId: GetOffersbyAccountid
      parameters:
        - $ref: '../parameters.yml#/components/parameters/AccountIDParam'
        - $ref: '../parameters.yml#/components/parameters/CursorParam'
        - $ref: '../parameters.yml#/components/parameters/OrderParam'
        - $ref: '../parameters.yml#/components/parameters/LimitParam' 
      responses:
        '200':
          description: OK 
  /accounts/{account_id}/trades:
    get:
      tags:
        - account
      summary: Retrieve an Account's Trades
      description: This endpoint represents all trades for a given account and can be used in streaming mode. Streaming mode allows you to listen for trades for this account as they are added to the Stellar ledger. If called in streaming mode, Horizon will start at the earliest known trade unless a cursor is set, in which case it will start from that cursor. By setting the cursor value to now, you can stream trades created since your request time.
      operationId: GetTradesbyAccountid
      parameters:
        - $ref: '../parameters.yml#/components/parameters/AccountIDParam'
        - $ref: '../parameters.yml#/components/parameters/CursorParam'
        - $ref: '../parameters.yml#/components/parameters/OrderParam'
        - $ref: '../parameters.yml#/components/parameters/LimitParam' 
      responses:
        '200':
          description: OK 
  /accounts/{account_id}/data/{key}:  
    get:
      tags:
        - account
      summary: Retrieve an Account's Data
      description: This endpoint represents a single data for a given account.
      operationId: GetDatabyAccountid
      parameters:
        - $ref: '../parameters.yml#/components/parameters/AccountIDParam'
        - $ref: '../parameters.yml#/components/parameters/DataParam'
      responses:
        '200':
          description: OK 
