.boxes {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.boxIcon {
  height: 175px !important;
  width: 175px !important;
}

.boxIconLink {
  margin-bottom: var(--ifm-heading-margin-bottom);
}
