.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px 0;
}

.leadTable {
  width: 100%;
  display: table;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}

table.leadTable td,
th {
  border: none;
  background-color: #ffffff;
}

.leadTableHead {
  background-color: var(--secondary-black);
  color: #ffffff;
}

.leadTableHeadColumn {
  width: 273px;
  padding: 16px;
  text-align: start;
  border: none;
  cursor: pointer;
}

.leadTableHeadColumnPlace {
  width: 273px;
  padding: 16px;
  text-align: start;
  border: none;
  cursor: pointer;
}

.leadTableBody {
  color: var(--secondary-black);
  background-color: #ffffff;
}

.leadTableBodyRow {
  background-color: #ffffff;
  border: none;
  border: 0.5px solid var(--secondary-black);
}

.userRow {
  border: 2px solid #ffd748;
}

.rankingCell {
  display: flex;
  align-items: center;
}

.userRankingCell {
  padding-left: 7px;
}

.rankingCellNum {
  border: 1px solid black;
  width: min-content;
  padding: 2px;
  border-radius: 50%;
  min-width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userRankingCellNum {
  border: none;
  padding: 5px 10px;
  background-color: #ffd748;
  margin-right: 5px;
}

.leaderboardText {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 45%;
}

.leaderboardText span {
  font-size: 24px;
  font-weight: 200;
}

.leaderboardText strong {
  color: #585858;
  font-size: 22px;
}

.paginationBlock {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.paginationButton {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--ifm-font-family-base);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.loading {
  height: 536px;
  display: flex;
  align-items: center;
  justify-content: center;
}
