.dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #F9F9F9;
}

.dashboardContent {
  flex-grow: 2;
  width: 75%;
  margin: 32px auto;
}

.dashboardFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0;
  background-color: #FFFFFF;
  color: #585858;
  padding: 16px 10%;
}

.challengeCards {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  grid-gap: 30px;
}

.loginButton {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--ifm-font-family-base);
  background-color: #369EA7;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 12px 8px;
  line-height: 0.8;
  width: max-content;
  cursor: pointer;
  margin-left: 32px;
}
