/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3e1bdb;
  --ifm-background-color: #ffffff;
  --ifm-background-surface-color: #fafafa;

  --ifm-spacing-horizontal: 1.5rem;
  --global-border-color: var(--ifm-color-emphasis-200);
  --ifm-toc-border-color: var(--global-border-color);

  --ifm-font-family-base: "IBM Plex Sans", sans-serif;
  --ifm-font-family-monospace: "IBM Plex Mono", monospace;
  --ifm-code-font-size: 80%;
  --ifm-heading-font-weight: 400;

  --ifm-table-head-font-weight: 500;
  --ifm-table-head-background: transparent;
  --ifm-table-stripe-background: var(--ifm-background-surface-color);
  --ifm-table-border-color: var(--global-border-color);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #876fed;
  --ifm-background-color: #292d3e;
  --ifm-background-surface-color: #303448;
}

.markdown > h4 {
  --ifm-h4-font-size: 1.25rem;

  margin-bottom: calc(
    var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading)
  );
  margin-top: calc(var(--ifm-h4-vertical-rhythm-top) * var(--ifm-leading));
}