/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://rsms.me/inter/inter.css");

/* Override highlighted code line bg so fix issue with contrast */
:root:not([data-theme="dark"]) {
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 0, 0.15);
}

:root[data-theme="dark"] {
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}

/* You can override the default Infima variables here. */
:root {
  /* Background: White */
  --ifm-background-color: #ffffff;
  --ifm-background-surface-color: #f6f7f8;

  /* Primary color: Teal */
  --site-primary-hue-saturation: 185 100%;
  --ifm-color-primary: #00a7b5;
  --ifm-color-primary-dark: #0096a3;
  --ifm-color-primary-darker: #008e9a;
  --ifm-color-primary-darkest: #00757f;
  --ifm-color-primary-light: #00b8c7;
  --ifm-color-primary-lighter: #00c0d0;
  --ifm-color-primary-lightest: #00d9eb;

  /* Black */
  --ifm-color-black: #0f0f0f;

  --ifm-spacing-horizontal: 1.5rem;
  --global-border-color: var(--ifm-color-emphasis-200);
  --ifm-toc-border-color: var(--global-border-color);

  --ifm-font-family-base: "Inter", sans-serif;
  --ifm-font-family-monospace: "IBM Plex Mono", monospace;
  --ifm-code-font-size: 80%;
  --ifm-heading-font-weight: 400;

  --ifm-table-head-font-weight: 500;
  --ifm-table-head-background: transparent;
  --ifm-table-stripe-background: var(--ifm-background-surface-color);
  --ifm-table-border-color: var(--global-border-color);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  /* Primary color: Teal */
  --ifm-color-primary: #00a7b5;
  --ifm-color-primary-dark: #0096a3;
  --ifm-color-primary-darker: #008e9a;
  --ifm-color-primary-darkest: #00757f;
  --ifm-color-primary-light: #00b8c7;
  --ifm-color-primary-lighter: #00c0d0;
  --ifm-color-primary-lightest: #00d9eb;

  /* Background: Black */
  --ifm-color-black: #0f0f0f;
  --ifm-background-color: var(--ifm-color-black);
}

.markdown > h4 {
  --ifm-h4-font-size: 1.25rem;

  margin-bottom: calc(
    var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading)
  );
  margin-top: calc(var(--ifm-h4-vertical-rhythm-top) * var(--ifm-leading));
}

/* Reader Feedback Box */

.readerFeedback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-top: 3rem;
  padding: 1.5rem 2rem;
  background-color: var(--ifm-menu-color-background-active);
  font-weight: 700;
  color: var(--ifm-color-primary);

  svg {
    height: 1.5rem;
    width: 1.5rem;
    transition: color var(--ifm-transition-fast)
      var(--ifm-transition-timing-default);

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  .feedback_thumbsup {
    color: var(--ifm-color-success-lightest);

    &:hover,
    &:focus {
      color: var(--ifm-color-success-darkest);
    }
  }

  .feedback_thumbsdown {
    color: var(--ifm-color-danger-lightest);

    &:hover,
    &:focus {
      color: var(--ifm-color-danger-darkest);
    }
  }
}

/* Announcement Bar(s) */

div[class^="announcementBar_"] {
  font-size: 18px;

  --site-announcement-bar-stripe-color1: hsl(
    var(--site-primary-hue-saturation) 85%
  );
  --site-announcement-bar-stripe-color2: hsl(
    var(--site-primary-hue-saturation) 95%
  );

  background: repeating-linear-gradient(
    35deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 10px,
    var(--site-announcement-bar-stripe-color2) 40px
  );
}

/* Navbar customizations */

.navbar .subtitle {
  small {
    text-transform: uppercase;
    color: #999;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  hr {
    width: 93%;
    height: 4px;
    margin: 0.4em auto;
    background-color: var(--ifm-menu-color-background-active);
  }
}

.navbar .dropdown > a.active {
  color: var(--ifm-color-primary);
}

/* Sidebar HTML item customizations */

.networkMenuHtmlItem small {
  text-transform: uppercase;
  color: #999;
}

/* Customizations to metamask openrpc package styles */

select[data-testid="example-pairing-select"] {
  padding: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: var(--ifm-font-size-base);
  border-radius: 5px;
}

/* Hidden sidebar items */

.sidebar-category-items-hidden ul {
  display: none !important;
}

/* Header link icons */

.header-github-link::before {
  content: "\f09b";
  font-family: "Font Awesome 6 Brands";
  font-size: x-large;
}

.header-discord-link::before {
  content: "\f392";
  font-family: "Font Awesome 6 Brands";
  font-size: x-large;
}
