.switcherWrapper {
  display: flex;
  align-items: center;
}

.switcher {
  display: block;
  width: 24px;
  height: 16px;
  border: 2px solid #369EA7;
  border-radius: 16px;
  background-color: transparent;
  position: relative;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.switcher::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border: 2px solid #369EA7;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.switcherOn {
  background-color: #369EA7;
}

.switcher.switcherOn::before {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  left: unset;
  right: 2px;
}

.switcherLabel {
  color: #585858;
  font-size: 14px;
  margin-right: 10px;
}

.switcherInput {
  width: 0;
  height: 0;
}