.MethodTable {
  $border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);

  --ifm-table-stripe-background: transparent;

  border: $border;
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-background-surface-color);
  margin-bottom: var(--ifm-spacing-vertical);
  max-height: 56.25rem;
  overflow: hidden;

  &__title {
    padding: var(--ifm-table-cell-padding);
    font-weight: var(--ifm-font-weight-bold);
    border-bottom: $border;
  }

  table {
    margin: 0;

    &:not(:only-child) {
      margin: 1rem 0;
    }

    * {
      border: none;
    }

    thead {
      display: none;
    }

    td {
      line-height: 1.5;
      vertical-align: top;
      white-space: nowrap;

      &:first-child {
        font-weight: var(--ifm-font-weight-bold);
      }
    }
  }
}
