.boxes {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.boxIcon {
  object-fit: cover;
  max-width: 75%;
  height: auto;
  max-height: 75%;
}

.boxIconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--ifm-global-radius);
  margin-bottom: var(--ifm-heading-margin-bottom);
  background-color: var(--ifm-color-secondary);
  width: 100%;
  height: 250px;
}
