.yearGroup {
  margin-bottom: 0.25rem;
}

.yearToggle {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font: inherit;
  padding: 0;
}

.yearToggle:focus-visible {
  outline: 2px solid var(--ifm-color-primary);
  outline-offset: 2px;
}

.yearToggleIndicator {
  font-size: 1.25rem;
  line-height: 1;
  margin-left: 0.6rem;
  transition: transform var(--ifm-transition-fast, 150ms) ease;
}

.yearToggle.is-expanded .yearToggleIndicator {
  transform: rotate(90deg);
}

.yearGroupContent {
  margin-left: 0.5rem;
}

.yearGroupContentHidden {
  display: none;
}
