openapi: 3.1.0
info:
  title: Anchor Platform
  version: "2.8.4"
  summary: The Anchor Platform is a set of tools and APIs that enable developers and businesses to build their own on and off-ramp services for the Stellar network. It provides a standardized interface, including the implementation of several Stellar Ecosystem Proposals (SEPs), to make it easy for businesses to integrate with Stellar-based wallets and exchanges.
  description: |
    The Anchor Platform is a set of tools and APIs that enable developers and businesses to build their own on and off-ramp services for the Stellar network. It provides a standardized interface, including the implementation of several Stellar Ecosystem Proposals (SEPs), to make it easy for businesses to integrate with Stellar-based wallets and exchanges.

    The platform also includes features for managing assets, transactions, and user accounts, and supports a variety of deployment options, including using Docker or Kubernetes. Overall, the Anchor Platform aims to simplify the process of building and managing a Stellar-based financial service, allowing businesses to focus on providing value to their customers.

    Learn about integrating with the Anchor Platform in the [Admin Guide](https://developers.stellar.org/platforms/anchor-platform/admin-guide) or get API information in the [API Reference](https://developers.stellar.org/platforms/anchor-platform/api-reference).
  termsOfService: https://stellar.org/terms-of-service
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: Transactions
    description: |
      Transactions are representations of a SEP transaction. It holds information about the protocol being used, and all necessary information passed by an external party (such as wallet or an anchor).

      Should not be confused with stellar [transactions](https://developers.stellar.org/docs/learn/glossary#transaction).
  - name: Callbacks
    description: |
      The Synchronous Callbacks API specification for the Stellar Anchor Platform project.

      The Synchronous Callbacks API defines requests made by the Platform while it is processing a request from a client application. The anchor's responses to these requests affect the Platform responses to the client application.
  - name: Custody Server
    description: The Custody Server provides a set of endpoints to interact with custody services, such as Fireblocks.
paths:
  /transactions:
    get:
      summary: Retrieve a List of Transactions
      description: |
        Allows to query list of transactions for desired SEP. This api supports pagination, and it's possible (and recommended) to make multiple requests to query transactions.

        The last page is reached when the number of elements returned by the endpoint is smaller than provided `page_size`.
      operationId: getTransactions
      servers:
        - url: https://platform-server.exampleanchor.com
          description: URL of the Platform API
      tags:
        - Transactions
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      parameters:
        - in: query
          name: sep
          required: true
          schema:
            type: string
            enum: [ "6", "24", "31" ]
          description:
            Lookup transactions belonging to this SEP.
        - in: query
          name: order_by
          schema:
            type: string
            enum: [ created_at, transfer_received_at ]
            default: created_at
          description: |
            Specifies field that transactions will be ordered by. Note, that secondary sort is transaction id in ascending value.

            I.e. when timestamps for 2 or more transactions is identical, they will be sorted by id.
        - in: query
          name: order
          schema:
            type: string
            enum: [ asc, desc ]
            default: asc
          description: |
            Specifies order. Note, that when the field is null, all transactions with null value will be last, regardless of soring order (NULLS LAST).

            For example, transfer time may not be specified for some transactions, resulting into `transfer_received_at` being null. If so, transactions with non-null values will be sorted and returned first, followed by all transactions with null timestamps.
        - in: query
          name: statuses
          schema:
            type: array
            items:
              $ref: './schemas.yaml#/components/schemas/StatusSEPAll'
          description: Filters transactions for specified array of statuses. If not provided, filtering is disabled (default behavior)
        - in: query
          name: page_size
          schema:
            type: integer
            default: 20
          description:
            Size of a single search page. Must be positive.
        - in: query
          name: page_number
          schema:
            type: integer
            default: 0
          description: Page number to use for continuous search. Page count beings at 0.
      responses:
        '200':
          description: Transaction found.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: './schemas.yaml#/components/schemas/TransactionListSEP6'
                  - $ref: './schemas.yaml#/components/schemas/TransactionListSEP24'
                  - $ref: './schemas.yaml#/components/schemas/TransactionListSEP31'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
        '404':
          description: Transaction not found.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
    post:
      summary: Create Custody Transaction
      description: Custody Server creates custody transaction record in DB.
      operationId: createCustodyTransaction
      servers:
        - url: https://custody-server.exampleanchor.com
          description: URL of the Custody Server
      tags:
        - Custody Server
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: SEP transaction ID.
                  type: string
                memo:
                  description: Memo value, that is used to identify inbound or outbound payments.
                  type: string
                memoType:
                  description: Type of memo, that is used to identify inbound or outbound payments.
                  type: string
                  enum:
                    - id
                    - hash
                    - text
                protocol:
                  description: Protocol of SEP transaction.
                  type: string
                  enum: [ "6", "24", "31" ]
                fromAccount:
                  description: Source Stellar account.
                  type: string
                toAccount:
                  description: Destination Stellar account.
                  type: string
                amount:
                  description: Amount of the asset, that is sent/received.
                  type: string
                amountFee:
                  description: Fee of SEP transaction.
                  type: string
                asset:
                  description: Asset, that is sent/received.
                  type: string
                kind:
                  description: Kind of the SEP transaction.
                  type: string
                  enum:
                    - deposit
                    - withdrawal
                    - receive
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
  /transactions/{id}:
    servers:
      - url: https://platform-server.exampleanchor.com
        description: URL of the Platform API
    get:
      summary: Retrieve a Transaction
      description: |
        Provides the information necessary for the business to determine the state of the transaction identified by
        `id`, decide if any action must be taken to continue processing the transaction, and act on the decision.
      operationId: getTransaction
      tags:
        - Transactions
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Transaction found."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: './schemas.yaml#/components/schemas/TransactionSEP6'
                  - $ref: './schemas.yaml#/components/schemas/TransactionSEP24'
                  - $ref: './schemas.yaml#/components/schemas/TransactionSEP31'
        '400':
          description: "Bad Request"
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
        '404':
          description: "Transaction not found."
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
  /unique_address:
    servers:
      - url: https://callback.business-server.exampleanchor.com
        description: URL of the Callbacks Server
    get:
      summary: Generate Unique Address
      description: |
        If the platform is configured with `depositInfoGeneratorType: api`, the Platform make this request to
        the Anchor backend every time a transaction is initiated by a client application.

        The Anchor must guarantee that the memo returned in this request is unique, so it can be mapped 1-to-1 to a Platform
        resource such as a [SEP-31](https://stellar.org/protocol/sep-31) transaction.

        Here is how this flow would be used for Receiving Anchors that need to create their unique `(account, memo)` pairs
        outside the platform, using Circle:

        [![](https://mermaid.ink/img/pako:eNqlVctu2zAQ_JUFTy1iOwhyE9AUhuu0ORQ1YvdmIKDJVUSYIlWSihEY_veuRMuPhHaTVCc9VjPD4exyzYSVyDLm8U-NRuA3xR8dL-cG6AoqaMxgOp70r69g5rjxXARlDdxqu4KVCgXM2VpwrRdcLIeTu81lbRQhPXApHXo_ZxGp4i4ooSpuAkwDas1d4gMaqcwjDI0obOL7p3sUqJ6o5DNMNA-5deX5qlNII-WExvj-mLV_c3OR4slg8ms6g7XH6vpqcxn2XvgIYyuCJSPgnB2w4B4lkIGhQKi22CCsydVj7XiDF-GaK6WD9KXlTfkTwoGsf8JcvDYqg-_j2dkFfD1geFDyS5plb2U0mnDRIC0PgcNCW7EUBVcGtqCDPUqs79Ov_ZS8ewy1Mx4MriAKo_z5mKdOYlZiaeeM9lu5wVl9L1n2Zn6Qh5IUb5KWn9y6W2WUL5DSUSvdZrFJx7brDgyPDdd8e4emU1L6x7nfrznNPTjRLNtmzuAnX2LX2sT_XKIJ3U_xbf9Mb3WdIDGgCJ5i8gIKCl5VFCIJte8c-l8Xjvej82GnxdNaGyUHc2_81EjZbcPhRLwzuU2Q7YxKUjkrEIlkh0jyA9i8vc9pxvZaFd2COy-CbR93iDDSam93uhNPGD-cjX7AuptEbcenE1dJal-ZSqUPPNR-8JHk_25RW4KTiG-dz-3oSozny0zJxjFRoFi2VBG-s_l1yN_ZMq_kK9P80Q7zAeuxEulBSTpk1w3-nFF9iXOW0a3EnNc6NMfkhkqjy2OpgnUsy7n22GO8Dnb6bATLgquxK9oe1NuqzV8v2LI1)](https://mermaid.live/edit#pako:eNqlVctu2zAQ_JUFTy1iOwhyE9AUhuu0ORQ1YvdmIKDJVUSYIlWSihEY_veuRMuPhHaTVCc9VjPD4exyzYSVyDLm8U-NRuA3xR8dL-cG6AoqaMxgOp70r69g5rjxXARlDdxqu4KVCgXM2VpwrRdcLIeTu81lbRQhPXApHXo_ZxGp4i4ooSpuAkwDas1d4gMaqcwjDI0obOL7p3sUqJ6o5DNMNA-5deX5qlNII-WExvj-mLV_c3OR4slg8ms6g7XH6vpqcxn2XvgIYyuCJSPgnB2w4B4lkIGhQKi22CCsydVj7XiDF-GaK6WD9KXlTfkTwoGsf8JcvDYqg-_j2dkFfD1geFDyS5plb2U0mnDRIC0PgcNCW7EUBVcGtqCDPUqs79Ov_ZS8ewy1Mx4MriAKo_z5mKdOYlZiaeeM9lu5wVl9L1n2Zn6Qh5IUb5KWn9y6W2WUL5DSUSvdZrFJx7brDgyPDdd8e4emU1L6x7nfrznNPTjRLNtmzuAnX2LX2sT_XKIJ3U_xbf9Mb3WdIDGgCJ5i8gIKCl5VFCIJte8c-l8Xjvej82GnxdNaGyUHc2_81EjZbcPhRLwzuU2Q7YxKUjkrEIlkh0jyA9i8vc9pxvZaFd2COy-CbR93iDDSam93uhNPGD-cjX7AuptEbcenE1dJal-ZSqUPPNR-8JHk_25RW4KTiG-dz-3oSozny0zJxjFRoFi2VBG-s_l1yN_ZMq_kK9P80Q7zAeuxEulBSTpk1w3-nFF9iXOW0a3EnNc6NMfkhkqjy2OpgnUsy7n22GO8Dnb6bATLgquxK9oe1NuqzV8v2LI1)
      operationId: genAddress
      tags:
        - Callbacks
      x-seps:
        - SEP-31
      parameters:
        - in: query
          name: transaction_id
          description: |
            The platform server will save the posted transaction and pass the `transaction_id` through this endpoint.
            If the anchor wishes to return transaction-dependent unique_address, the anchor may query the [`GET /transactions` endpoint of the Platform API](https://developers.stellar.org/platforms/anchor-platform/api-reference/resources/get-transaction).
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  unique_address:
                    description: An object containing the unique `stellar_address:memo` pair used to identify a destination.
                    type: object
                    properties:
                      stellar_address:
                        description: A `G...` stellar address or a `M...` [muxed stellar address](https://developers.stellar.org/docs/learn/encyclopedia/transactions-specialized/pooled-accounts-muxed-accounts-memos#muxed-accounts) of an **existing** account in the Stellar network.
                        type: string
                      memo:
                        description: The memo to attach to the Stellar payment.
                        type: string
                      memo_type:
                        description: The type of memo to attach to the Stellar payment (text, hash, or id).
                        type: string
                        enum:
                          - text
                          - hash
                          - id
                    required:
                      - stellar_address

        '500':
          description: Error. The Platform will respond to the client application with the same response code and body.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
  /fee:
    servers:
      - url: https://callback.business-server.exampleanchor.com
        description: URL of the Callbacks Server
    get:
      summary: Retrieve Fees
      description: |
        The Platform will make this request to the anchor every time a transaction is initiated by a client application
        without a `quote_id`.

        The Anchor must ensure that the sending and receiving customers specified in the request meet the KYC requirements
        necessary to partake in the transaction described in the request.

        The anchor must return the fee it will charge for the transaction.

        In the future, this endpoint may be used to provide estimated fees to client applications prior to initiating transactions.
        When this change is made, the request schema will be adapted to support the use case.
      tags:
        - Callbacks
      x-seps:
        - SEP-31
      operationId: getFee
      parameters:
        - in: query
          name: send_asset
          description: |
            The asset the client application will send to the anchor in exchange for `receive_asset` in
            [Asset Identification Format](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0038.md#asset-identification-format).
          schema:
            type: string
          required: true
        - in: query
          name: receive_asset
          description: |
            The asset the that the anchor will send in exchange for `send_asset` in
            [Asset Identification Format](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0038.md#asset-identification-format).
          schema:
            type: string
          required: true
        - in: query
          name: send_amount
          description: |
            The amount of `send_asset` the client application will send in exchange for `receive_asset`. One of `send_amount`
            or `receive_amount` will always be included in the request. If the client application specified a `quote_id` in
            its transaction creation request, both amounts specified in the referenced quote will be passed.
          schema:
            type: string
        - in: query
          name: receive_amount
          description: |
            The amount of `receive_asset` the anchor will send in exchange for `send_asset`. One of `send_amount` or
            `receive_amount` will always be included in the request. If the client application specified a `quote_id` in its
            transaction creation request, both amounts specified in the referenced quote will be passed.
          schema:
            type: string
        - in: query
          name: client_id
          description: |
            An identifier for the client application making the request. This ID can be used to offer different fees to different clients.
            A client ID it the Stellar account of a sending anchor: In SEP-31, the `client_id` should match the account of a known SEP-31 sending anchor match the one used to authenticate via SEP-10.
          schema:
            type: string
          required: true
        - in: query
          name: sender_id
          description: |
            The SEP-12 customer ID of the sending user.
          schema:
            type: string
          required: true
        - in: query
          name: receiver_id
          description: |
            The SEP-12 customer ID of the receiving user.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/FeeResponse'
        '422':
          description: |
            Unprocessable Entity. This status should be returned when the anchor understood the request but cannot
            return a success response. An example for when this response code would be appropriate is if the sender
            and/or receiver is not permitted to initiate a transaction with the specified amounts. In these cases,
            the Platform will respond to the client application's request with a `400 Bad Request` and include the
            error message provided by the anchor in the response body.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
        '500':
          description: Error. The Platform will respond to the client application with the same response code and body.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
  /rate:
    servers:
      - url: https://callback.business-server.exampleanchor.com
        description: URL of the Callbacks Server
    get:
      summary: Retrieve Rates
      description: |
        Transactions that involve two non-equivalent on & off-chain assets (such as USDC on Stellar and fiat EUR) must
        use exchange rates that are communicated to the client application requesting the transaction. When clients make
        requests to the Platform for these exchange rates, the Platform sends this request to the anchor to fetch it.

        Rates can be [indicative](https://www.investopedia.com/terms/i/indicativequote.asp) or
        [firm](https://www.investopedia.com/terms/f/firmquote.asp). The anchor must provide an ID and expiration if the
        client requests a firm rate.

        Anchors can provide discounted rates specific client applications. The Platform includes the `client_id` parameter
        for this reason.

        Either `sell_amount` or `buy_amount` will be included in requests as parameters, but never both. In the same way,
        either `sell_delivery_method` and `buy_delivery_method` may be included in requests, but never both, since either
        `sell_asset` or `buy_asset` is a Stellar asset.
      operationId: getRates
      tags:
        - Callbacks
      x-seps:
        - SEP-31
        - SEP-38
      parameters:
        - in: query
          name: type
          description: The type of rate requested. If `firm`, the response must include `rate.id` and `rate.expires_at`.
          schema:
            type: string
            enum:
              - indicative
              - firm
          required: true
        - in: query
          name: client_id
          description: |
            An identifier for the client application making the request. This ID can be used to offer different fees to different clients.

            Client IDs will be the Stellar public key the public key used to authenticate via SEP-10. Anchors must ensure
            that the public key specified in the request matches a public key known to belong to the sending anchor.

            This parameter will only be specified if the client is authenticated via SEP-10. Anchors can define whether or not
            authentication is required for fetching indicative rates. Firm rates always require authentication.
          schema:
            type: string
        - in: query
          name: sell_asset
          description: |
            The asset the client application will send to the anchor in exchange for `buy_asset` in
            [Asset Identification Format](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0038.md#asset-identification-format).
          schema:
            type: string
          required: true
        - in: query
          name: buy_asset
          description: |
            The asset the that the anchor will send in exchange for `sell_asset` in
            [Asset Identification Format](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0038.md#asset-identification-format).
          schema:
            type: string
          required: true
        - in: query
          name: sell_amount
          description: |
            The amount of `sell_asset` the client application will send in exchange for `buy_asset`. Will not be used in
            conjuction with `buy_amount`.
          schema:
            type: string
        - in: query
          name: buy_amount
          description: |
            The amount of `buy_asset` the anchor will send in exchange for `sell_asset`. Will not be used in conjuction
            with `sell_amount`.
          schema:
            type: string
        - in: query
          name: country_code
          description: |
            The [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) code of the user's current address.
            Anchors should expect this parameter to be provided if one of the assets of the buy/sell pair is fiat and it
            is available in two or more countries.
          schema:
            type: string
        - in: query
          name: expire_after
          description: |
            The client's desired `expires_at` date and time for the quote that can be used if this is a firm quote. This should
            be a [UTC ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) string. Anchors should return `400 Bad
            Request` if an expiration date on or after the requested value cannot be provided.
          schema:
            type: string
        - in: query
          name: sell_delivery_method
          description: |
            The method the client or user will use to deliver `sell_asset` to the Anchor. This value may affect the
            expiration and price provided. The values used for this parameter is defined in the application's configuration.
            Will not be used in conjuction with `buy_delivery_method`.
          schema:
            type: string
        - in: query
          name: buy_delivery_method
          description: |
            The method the client or user wants used to receive `buy_asset` from the Anchor. This value may affect the
            expiration and price provided. The values used for this parameter is defined in the application's configuration.
            Will not be used in conjuction with `sell_delivery_method`.
          schema:
            type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/RateResponse'
        '422':
          description: |
            Unprocessable Entity. This status should be returned when the anchor understood the request but cannot
            return a success response.
            In these cases, the Platform will respond to the client application's request with a `400 Bad Request`
            and include the error message provided by the anchor in the response body.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
        '500':
          description: Error. The Platform will respond to the client application with the same response code and body.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
  /customer:
    servers:
      - url: https://callback.business-server.exampleanchor.com
        description: URL of the Callbacks Server
    get:
      description: |
        The request and response for this endpoint is identical to the
        [`GET /customer`](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0012.md#customer-get)
        request and response defined in SEP-12.

        This endpoint allows clients to:

          1. Fetch the fields the server requires in order to register a new customer via a SEP-12
        [`PUT /customer`](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0012.md#customer-put) request

        If the server does not have a customer registered for the parameters sent in the request, it should return the
        fields required in the response. The same response should be returned when no parameters are sent.

          2. Check the status of a customer that may already be registered

        This allows clients to check whether the customers information was accepted, rejected, or still needs more info.
        If the server still needs more info, or the server needs updated information, it should return the fields required.
      tags:
        - Callbacks
      x-seps:
        - SEP-6
        - SEP-12
        - SEP-31
      summary: Retrieve Customer's Info
      operationId: getCustomer
      parameters:
        - in: query
          name: id
          description: The ID of the customer as returned in the response of a previous PUT request.
          schema:
            type: string
        - in: query
          name: account
          description: The Stellar or Muxed Account authenticated with the Platform via SEP-10.
          schema:
            type: string
        - in: query
          name: memo
          description: The memo value identifying a customer with a shared account, where the shared account is `account`.
          schema:
            type: string
        - in: query
          name: memo_type
          description: The type of memo used to identify a customer with a shared account.
          schema:
            type: string
            enum:
              - id
              - hash
              - text
        - in: query
          name: type
          description: |
            The type of action the customer is being KYCd for. See the
            [Type Specification](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0012.md#type-specification)
            documented in SEP-12.
          schema:
            type: string
        - in: query
          name: transaction_id
          description: |
            The transaction id with which the customer's info is associated. When information from the customer depends on the
            transaction (e.g., more information is required for larger amounts)
          schema:
            type: string
        - in: query
          name: lang
          description: |
            Defaults to `en`. Language code specified using ISO 639-1. Human readable descriptions, choices, and
            messages should be in this language.
          schema:
            type: string
      responses:
        '200':
          description: |
            Valid request. Customer either already exists or the customer identified by the parameters is new and must
            provide the field values described in the response body. Response bodies are identical to the schema defined
            in [SEP-12](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0012.md#customer-get).
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/GetCustomerResponse'
              examples:
                SuccessKYC:
                  $ref: './examples.yaml#/components/examples/SuccessKYC'
        '400':
          description: Error.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
        '404':
          description: Not Found.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
    put:
      tags:
        - Callbacks
      x-seps:
        - SEP-6
        - SEP-12
        - SEP-24
        - SEP-31
      description: |
        **The Anchor Platform does not persist any customer KYC data.**

        The request and response for this endpoint are identical to the
        [`PUT /customer`](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0012.md#customer-put)
        request and response defined in SEP-12.

        Client applications make requests with the following request body, which is forwarded to the anchor. Anchors
        must validate and persist the data passed, and return the customer's `id`. Requests containing only string fields will
        be forwarded to the anchor as with the `application/json` content type. Requests containing
        binary fields will be forwarded to the anchor as with the `multipart/form-data` content type.
      summary: Create or Update Customer Info
      operationId: putCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: './schemas.yaml#/components/schemas/PutCustomerRequest'
          multipart/form-data:
            schema:
              $ref: './schemas.yaml#/components/schemas/PutCustomerMultipartRequest'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/PutCustomerResponse'
        '400':
          description: Invalid data.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
        '404':
          description: Not Found.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
  /customer/{id}:
    servers:
      - url: https://callback.business-server.exampleanchor.com
        description: URL of the Callbacks Server
    delete:
      tags:
        - Callbacks
      x-seps:
        - SEP-12
        - SEP-31
      description: |
        The request for this endpoint is identical to the
        [`DELETE /customer`](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0012.md#customer-delete)
        request defined in SEP-12.

        Delete the customer's data or queue the customers data for deletion.
      summary: Delete Customer Data
      operationId: delCustomer
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '204':
          description: Success.
        '404':
          description: Customer not found.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/Error'
  /event:
    servers:
      - url: https://callback.business-server.exampleanchor.com
        description: URL of the Callbacks Server
    post:
      summary: Receive an Event
      description: |
        The Anchor Platform can be configured to notify the business of events, such as a transaction being initiated by a client or a payment being sent to one of the business' distribution accounts.

        Currently, the Anchor Platform takes a fairly unforgiving approach to event delivery, retrying a maximum of three times within three seconds before discarding the event. This will likely change in future releases, but for now, businesses should ensure that they implement a mechanism to recover from missed events.

        For example, if you're using the Anchor Platform's `--stellar-observer` to monitor incoming payments, a cron job can check how long it has been since a transaction was updated as ready to receive funds, and if a reasonable amount of time has passed without receiving funds, it can fetch the latest status of the transaction using the Anchor Platform's `GET /transactions/:id` endpoint to make sure the event was not missed, or continuing processing the transaction if it was.
      operationId: postEvent
      tags:
        - Callbacks
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              $ref: './schemas.yaml#/components/schemas/Event'
      responses:
        '200':
          description: The event is successfully processed and ready to receive next event. The response body is empty.
        '400':
          description: The event is invalid or rejected. The response body contains the error message.
  /transactions/:id/payments:
    servers:
      - url: https://custody-server.exampleanchor.com
        description: URL of the Custody Server
    post:
      summary: Send Payment
      description: Custody Server calls the configured custody service to send payment.
      operationId: sendPayment
      tags:
        - Custody Server
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/SendPaymentResponse'
        '400':
          description: Invalid Request.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
        '404':
          description: Custody Transaction is not found.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
        '429':
          description: Custody Service rate limit is exceeded.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
        '503':
          description: Custody Service is unavailable.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
  /transactions/:id/refunds:
    servers:
      - url: https://custody-server.exampleanchor.com
        description: URL of the Custody Server
    post:
      summary: Send Refund
      description: Custody Server calls configured Custody Service to send refund. Custody transaction record is also created in DB.
      operationId: sendRefund
      tags:
        - Custody Server
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memo:
                  description: Memo value, that will be added to the refund payment.
                  type: string
                memoType:
                  description: Type of memo, that will be added to the refund payment.
                  type: string
                amount:
                  description: Amount, that will be refunded.
                  type: string
                amountFee:
                  description: Fee of the refund.
                  type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/SendPaymentResponse'
        '400':
          description: Invalid Request.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
        '404':
          description: Custody Transaction is not found.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
        '429':
          description: Custody Service rate limit is exceeded.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
        '503':
          description: Custody Service is unavailable.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
  /assets/:asset/addresses:
    servers:
      - url: https://custody-server.exampleanchor.com
        description: URL of the Custody Server
    post:
      description: |
        Custody Server calls the configured custody service to generate deposit address and memo.

        Format of `asset` parameter - `stellar:USDC:GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5`
      summary: Generate Unique Address
      operationId: generateUniqueAddress
      tags:
        - Custody Server
      x-seps:
        - SEP-6
        - SEP-24
        - SEP-31
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/GenerateUniqueAddressResponse'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: './schemas.yaml#/components/schemas/CustodyError'
