name: Crowdin Upload Action

on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: "Branch to run this workflow on"
        required: true
        default: "main"
  # schedule:
  #   - cron: '0 9 * * *' # Runs daily at 9:00 UTC

jobs:
  crowdin-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Docs Repo
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: Install Dependencies
        run: yarn --prefer-offline

      - name: Write Translations
        run: yarn write-translations

      - name: Crowdin push
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: false
          download_translations: false
        env:
          CROWDIN_PROJECT_ID: ${{ env.CROWDIN_PROJECT_ID }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
