name: Build, format MDX and Lint

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  complete:
    if: always()
    needs: [ mdx-format, build ]
    runs-on: ubuntu-latest
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1

  mdx-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout App Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'

      - name: Install App Dependencies
        run: yarn --prefer-offline --frozen-lockfile

      - name: Check MDX
        run:  git update-index -g && yarn ci:mdx

      - name: Show Diff if Prettier Fails
        if: ${{ failure() }}
        run: yarn diff:mdx && echo "::error::Prettier static analysis failed"



  build:
    uses: ./.github/workflows/build.yml

