name: Format MDX and Lint

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout App Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'

      - name: Install App Dependencies
        run: yarn --prefer-offline

      - name: Check MDX
        run:  git update-index -g && yarn ci:mdx

      - name: Show Diff if Prettier Fails
        if: ${{ failure() }}
        run: yarn diff:mdx && echo "::error::Prettier static analysis failed"

      - name: Copy Files From Stellar CLI
        run: yarn stellar-cli:build

      - name: Build app
        run: yarn build

      - name: Check if routes.txt file needs updating
        run: |
          if git diff --name-only ${{ github.base_ref }} | grep -q "routes.txt"; then
            echo 'The `routes.txt` file has changed. Please update the routes.txt file locally by running `yarn build` and push that change.'
            exit 1
          fi
